.body {
  margin-top: 50px;
  padding: 0px;
}

#header {
  position: relative;
  bottom: -20px;
  left: -1px;
}

/*
 * Form Views
 */
.form {
  margin: 20px;
}

.form ul {
  list-style-type: none;
}

.form li {
  margin: 10px 5px 10px 3px;
}

.form .bbf-radio li, .form .bbf-checkboxes li {
  float: left;
}

.form .bbf-field {
  float: left;
  clear: both;
}
  
.form .btn {
  margin: 5px 0px 20px 20px;
  float: left;
}

.form .progress {
  float:left;
  margin-top: 9px;
  margin-left: 10px;
  width: 50px;
  height: 25px;
}

.form input[type="file"] {
  margin: 0 0 0 30px;
}

@media (max-width: 979px) {
  .body {
    margin-top: 0px;
  }
}

.AssignWeekOfResourcesToGroupTable-header {
  text-align: center;
}

.container.body {

    color: #000000;
    font-family: verdana;
    margin-left: 10%;
    padding-left: 10%;
    width: 60%;
border-radius: 20px 20px 20px 20px;
}

#star
{
width: 500px !important;	
padding-left: 22px;
	
}