.body {
  margin-top: 50px;
  padding: 0px;
}

#header {
  position: relative;
  bottom: -20px;
  left: -1px;
}

/*
 * Form Views
 */
.form {
  margin: 20px;
}

.form ul {
  list-style-type: none;
}

.form li {
  margin: 10px 5px 10px 3px;
}

.form .bbf-radio li, .form .bbf-checkboxes li {
  float: left;
}

.form .bbf-field {
  float: left;
  clear: both;
}
  
.form .btn {
  margin: 5px 0px 20px 20px;
  float: left;
}

.form .progress {
  float:left;
  margin-top: 9px;
  margin-left: 10px;
  width: 50px;
  height: 25px;
}

.form input[type="file"] {
  margin: 0 0 0 30px;
}

@media (max-width: 979px) {
  .body {
    margin-top: 0px;
  }
}

.AssignWeekOfResourcesToGroupTable-header {
  text-align: center;
}

.container.body {

    color: #000000;
    font-family: verdana;
    width: 60%;
border-radius: 20px 20px 20px 20px;
}

#star
{
width: 500px !important;	
padding-left: 22px;
	
}

.rating{
	background-image: url("/star-off.png");
	
	
}


.search-Box
{
	margin-left: 12%;
	margin-top: 3%;
}
label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 3px;
    margin-right: 15px;
    font-size: 13px;
    //margin-bottom: 10px;
}
label:before {
    content:"";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
} 
input[type=checkbox] {
    margin: 0 2px 3px;
}
input[type=checkbox]:checked + label:before {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
}
.checkbox-subject
{
	margin-left:40%;
	margin-top:-12%;
}
.checkbox-length
{
	margin-left:2%;
}
.search-result-title
{
	font-weight:bold;
	text-decoration:underline;
	color:rgb(192,80,77);
}
.search-result-h3
{
	margin-left:18%;
}
#question-box {
    height: 116px;
    margin-left: 102px;
    margin-top: 7px;
    position: absolute;
    width: 501px;
}
#new-quiz
{
	color:rgb(66,119,161);
}
#question-area
{
	background-color:rgb(221,221,221);
	margin-top: 2%;
	height: 140px;
	width: 630px;
	
}
#question-no {
    margin-left: 10px;
    margin-top: 11px;
    position: absolute;
}
#option-area
{
	background-color: #E7E7E7;
    height: 222px;
    margin-top: 5px;
    width: 630px;
}
#quiz-body
{
	margin-left:-14%;
}
#options-table
{
	margin-left: 65px;
    margin-top: 15px;
    position: absolute;
}



#Radio-margin
{
      
}
#browseImage{
   border: 1px solid;
    margin-left: 25%;
    margin-top: -2%;
    position: absolute;
}

#site-feedback{
     background-color: #34495E;
    border-radius: 0px 0px 20px 20px;
    color: #FFFFFF;
    height: 0px;
    margin-left: 0%;
    position: absolute;
    top: 8%;
    width: 60%;
    visibility: hidden;
    z-index:10;
}
#site-feedback fieldset{
border:none;
height:100%;
}
#site-feedback .bbf-form{
height: 72%;
}
#site-feedback .bbf-form .bbf-editor{
height: 72%;
}
#site-feedback ul{
height:80%;
}
#site-feedback li{
height:100%;
}
#main-body{
 position: absolute;
    top: 65px;
    width: 100%;
    margin-bottom: 40px;
}
.hh3{
margin-left:35%;

}
#browseImage{
    margin-left: 42px;
    position: absolute;
}
#f-formButton{
 margin-left: 10%;
    width: 80%;
}

#f-formButton button{
float:left;
margin-left: 1px;
width: 33%;
}

 textarea[name="comment"]
 {
  border-radius: 20px;
    height: 100%;
    width: 87%;
 }
 .table-feedback{
text-align:left;
display: block;
}
.table-feedback th{
text-align:center;
}
.table-feedback tr{
line-height: 34px;
border-bottom:1px solid black;
}
.table-feedback td{
  font-size: 19px;
}
.notification-table th {
    background-color: #34495E;
    color: #FFFFFF;
}


#groupform [name="description"]{
  height: 100px;
  width:400%;
}

#groupform .bbf-field.field-leaderEmail{
    margin-left: 250px;
   margin-top: -77px;
    position: relative;
}
#groupform .bbf-field.field-leaderPhone{
    margin-left: 500px;
   margin-top: -77px;
    position: relative;
}
#groupform .bbf-field.field-foregroundColor{
    margin-left: 147px;
    margin-top: -67px;
    position: relative;
}
#groupform #formButton{
    float: left;
    margin: -61px 0 10px 688px;
}
#invitationForm{
  color:white;
     padding: 21px;
}
#invitationdiv{
    background-color: #B1B1B1;
    border: 3px solid #141414;
    border-radius: 20px;

    position: absolute;
    width: 65%;
    z-index: 2;
    top:80%;
    margin-left:10%;
  
}