.body {
  margin-top: 0px;
  padding: 0px;
}

#header {
  position: relative;
  bottom: -20px;
  left: -1px;
}


/*
 * Form Views
 */
.form {
  margin: 20px;
}

.form ul {
  list-style-type: none;
}

.form li {
  float: left;
  margin: 10px 5px 10px 3px;
}
  
.form .btn {
  margin: 5px 0px 20px 20px;
}