<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Couch Documents</title>
</head>



  <!-- 
    STYLES
  -->



  <link href="../vendor/bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet">
  <style type="text/css">


  </style>



  <!-- 
    SCAFFOLDING
  -->


<body>
  <div id="wrapper">

    <!-- App -->
    <div id="app">
      <div id="header"> </div>
      <div id="content"> </div>

      
    </div>
     
    <!-- Modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <iframe style="border: none; width: 100%; height: 400px;" name="frame"></iframe>
      </div>
    </div>

  </div>
</body>


  <!-- 
    SCRIPTS
  -->



  <script src="../vendor/jquery-1.7.2.js"></script>
  <script src="../vendor/underscore-1.4.4.js"></script>
  <script src="../vendor/backbone-1.0.0.js"></script>
  <script src="../vendor/backbone-forms.js"></script>
  <script src="../vendor/jquery-ui-1.10.2.custom/js/jquery-ui-1.10.2.custom.js"></script>
  <script src="/_utils/script/json2.js"></script>
  <script src="/_utils/script/jquery.couch.js?0.8.0"></script>
  <script src="/_utils/script/jquery.form.js?0.9.0"></script>
  <script src="../vendor/sha1.js"></script>
  <script src="../vendor/jquery.couch.js"></script>
  <script src="../vendor/backbone.couchdb.js"></script>
  <script src="../vendor/backbone.cloudant.js"></script>
  <script src="../vendor/html-encode.js"></script>
  <script src="../vendor/jquery.url.js"></script>



  <!--
    SETTINGS
  -->



  <script>
    window.thisDb = ($.url().attr('fragment'))
      ? $.url().attr('fragment')
      : document.URL.split("/")[3]

    Backbone.couch.options = {
      database: thisDb,
      design: 'hubble-remote'
    };
  </script>


  <!--
    TEMPLATES
  -->

  <script type="text/html" id="template-ResourceRowView">

    <td>
      <%= name %>
    </td> 
    <td>
      <a class='btn' href='<%= openWith %>'>
        <i class='icon-eye-open'></i> Open
      </a>
    </td>
    <td>
      <a class='btn' href='<%= sendTo %>'>
        <i class="icon-share"></i> Send to a Collection
      </a>
    </td> 
    <td>
      <a class='btn' href='edit-couch-document.html?id=<%= id %>'>
        <i class='icon-pencil'></i> Edit
      </a>
    </td>
    <td>
      <a class='destroy btn' href='#'>
        <i class='icon-remove'></i> Delete
      </a>
    </td>

  </script>


  <!-- 
    BACKBONE MODELS 
  -->



  <script src="../app/models/Resource.js"></script>



  <!-- 
    BACKBONE COLLECTIONS 
  -->



  <script src="../app/collections/Resources.js"></script>




  <!-- 
    BACKBONE VIEWS
  -->



  <script src="../app/views/ResourcesTableView.js"> </script>
  <script src="../app/views/ResourceRowView.js"> </script>



  <!-- 
    App
  -->



  <script>

  $(document).ready(function() {

   // Backbone.Cloudant.database = thisDb;
   // var all_docs = new Backbone.Cloudant.Docs.Collection();
   // all_docs.fetch()

    window.resources = new window.Resources()
    window.resources.fetch()

    window.resourcesTableView = new window.ResourcesTableView({collection: resources})


    window.resourcesTableView.render()
    $('#app').append(window.resourcesTableView.el)

  })

 </script>


</html> 

