<!DOCTYPE html>
<html lang="en">

    <head>
  <meta charset="utf-8">
  
  <title>Bell Earth</title>
  <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen" />
  <link href="vendor/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" media="screen" />

  <link rel="stylesheet" href="app/fullcalendar.css"/>
  <link rel="stylesheet" href="vendor/badger.css"/>
  <link rel="stylesheet" href="app/jqueryui.css" />
    <link rel="stylesheet" href="app/Home.css"/>
  <link rel="stylesheet" href="app/style.css"/>
   
   
  <!-- <link rel="stylesheet" href="a/tabl.css"/> -->
  <!--  <link rel="stylesheet" href="app/tabl.css"/> -->

<!--
    DEPENDENCIES
  -->
 
  <script src="vendor/jquery-1.7.2.js"></script>
  <script src="vendor/jquery-ui.js"></script>
   <script src="vendor/badger.js"></script>
  <script src="vendor/jquery.cookie.js"></script>
  <script src="vendor/pouchdb-nightly.js"></script>
  <script src="vendor/underscore-1.4.4.js"></script>
  <script src="vendor/backbone-1.0.0.js"></script>
  <script src="vendor/backbone-forms.js"></script>
  <script src="vendor/backbone-pouch.js"></script>
  <script src="/_utils/script/json2.js"></script>
  <script src="/_utils/script/jquery.couch.js?0.8.0"></script>
  <script src="vendor/jquery.form.js"></script>
  <script src="vendor/sha1.js"></script>
  <script src="vendor/jquery.couch.js"></script>
  <script src="vendor/backbone.couchdb.js"></script>
  <script src="vendor/html-encode.js"></script>
  <script src="vendor/jquery.url.js"></script>
  <script src="vendor/moment.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.js"></script>
  <script src="vendor/jquery.raty.js"></script>
  <script src="vendor/jquery-ui.custom.min.js"></script>
  <script src="vendor/fullcalendar.min.js"></script>
      <!-- -->
  
  
      <script src="app/App.js"></script>
      
      
      
      
  
    <!-- Models  -->
    
     <script src="app/models/Nation.js"></script>
     <script src="app/models/Credentials.js"></script>
     
      <!--Collection  -->
     
     <script src="app/collections/Nations.js"></script>
     
     <!-- Views  -->
     
     
     <script src="app/views/NationForm.js"></script>
     <script src="app/views/navBarView.js"></script>
     <script src="app/views/MemberLoginForm.js"></script>
    
     <script src="app/views/NationsTable.js"></script>
     <script src="app/views/NationRow.js"></script>
     
   
    
  	<script src="app/Router.js"></script>
  	
  	
    <!--templates -->
    
    <script type='text/template' id='template-login'>
    <p style='text-align:center;font-size:20px'>Welcome to Earth Bell <br> The Billion Kids' Basic e-Learning Library</p>
     <div style='height:250px;border-top:1px solid gray;border-bottom:1px solid gray;width:100%;margin:100px auto;background-color:#eee' id='Login-form'>
         <div style='width:940px;margin:0 auto'>
          <form id='login-form' style='padding-top:50px'>
          		 <div class='login-input'>
          				<input placeholder='UserName' id='username' type='text'/>
          				<span></span>
          		 </div>
          		 <div class='login-input'>
          		        <input placeholder='Password' id='password' type='text'/>
          				<span></span>
          		 </div>
          		 <div class='login-input' style='padding-top:20px' id='submit-button'>
          		 
          		 </div>
          </form>
     </div>  
    </script>
     
    <script type="text/template" id="template-app">  
       <div class="navbar navbar-inverse navbar-fixed-top" id="nav">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">BeLL Earth</a>
          <div class="nav-collapse collapse">
            <ul class="nav">

            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <!-- Body -->
    <div class="container body" id="cont">
      <!-- Content -->
    </div>
     
   </script>
   
   <script type="text/template" id="template-nav-log-in"> 
    
  </script>
   
   <script type="text/template" id="template-nav-logged-in"> 
   <div id="invitationSuperDiv"><div id="invitationdiv"></div></div>
  
   
  <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-flag icon-white"></i> Nations <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#nations"><i class="icon-list"></i> List Nations</a></li>
        <li><a href="#nation/add"><i class="icon-plus"></i> Add a new Nation</a></li>
        <li><a onclick= "showRequestForm('Course')"><i class="icon-tint"></i> Request Course</a></li>
        <!--<li><a href="#course/default"><i class=" icon-shopping-cart"></i> Default Courses</a></li>-->
      </ul>
    </li>

    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-white"></i> Members <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#members"><i class="icon-list"></i> List Members</a></li>
        <li><a href="#member/add"><i class="icon-plus"></i> Add a new Member</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-book icon-white"></i> Resources <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#resources"><i class="icon-list"></i> List Resources</a></li>
        <li><a href="#resource/add"><i class="icon-plus"></i> Add a new Resource</a></li>
        <li><a onclick= "showRequestForm('Resource')"><i class="icon-tint"></i> Request Resource</a></li>
      </ul>
    </li>
     <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-flag icon-white"></i> Courses <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#courses"><i class="icon-list"></i> List Courses</a></li>
        <li><a href="#course/add"><i class="icon-plus"></i> Add a new Course</a></li>
        <li><a onclick= "showRequestForm('Course')"><i class="icon-tint"></i> Request Course</a></li>
        <!--<li><a href="#course/default"><i class=" icon-shopping-cart"></i> Default Courses</a></li>-->
      </ul>
    </li>
	<li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-book icon-white"></i> Publications <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a onclick= "showRequestForm('Meetup')"><i class="icon-tint"></i> Request Meetup</a></li>
      </ul>
    </li>
    <li> 
      <a href="../personal/index.html"><i class="icon-briefcase icon-white"></i>Reports</a>
    </li>
	<li> 
      <a href="#myRequests"><i class="icon-tint icon-white"></i>Send/Receive</a>
    </li>
   <!-- <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-download-alt icon-white"></i> Install <b class="caret"></b></a>
      <ul class="dropdown-menu">

        <li> 
          <a href="#compile/">Compile all Apps and all Resources for Syncing</a>
        </li>
        <li> 
          <a href="#compile/week">Compile Apps and this weeks Assigned Resources for Syncing</a>
        </li>

      </ul>
    </li>

 -->
    <li> 
      <a href="#logout">
        <i class="icon-plane icon-white"></i> Log out
      </a>
    </li>
    <li  style="float:right;"> 
      <a onclick = "showFeedbackForm()">
        <i class="icon-pencil icon-white"></i> Feedback
      </a>
    </li>
  </script>
  
  <script type="text/html" id="template-listNationTop">
     
  </script>

 
   <script type="text/template" id="template-addNation">
   <div id='addNation-heading'>
      <p>
       <p class='heading'> <a href=''>Earth Bell</a>  |   <a href=''><%if(edit==true){%>Manage Nation<%}else{%>Add Nation<%}%></a>    </p>
     </p>
    </div>
	<div id='nationForm-container'>

   			<form id='nationFrom'>
             <div id='top-from' style='margin:0 auto'> 
                    <div class='form-field'>
                         <input placeholder="Name" type="text" id="nation-name" name="nation-name" /><br />
                    </div>
                    <div class='form-field'>
                         <input placeholder="Url" type="text" id="nation-url" name="nation-url" /><br />
                    </div>
             </div>
             <div style='margin-left:3%;'><p style='font-size:17px'>Sponsoring Organization</p></div>
             <div class='middle-from'> 
                    <div class='form-field' >
                         <input style='width:355px' placeholder="Name" type="text" id="org-name" name="org-name" /><br />
                    </div>
                    <div class='form-field'>
                        <input style='width:355px;' placeholder="Address" type="text" id="org-sponseraddress" name="org-sponseraddress" /><br />
                    </div>
                    <div style='padding-left:2%;'><p style='font-size:17px'>Primary Contact</p></div>

                    <div class='form-field'>
                         <input placeholder="First Name" type="text" id="org-firstname" name="org-firstname" /><br />
                    </div>
                    <div class='form-field'>
                         <input placeholder="Midlle Name" type="text" id="org-middlename" name="org-middlename" /><br />
                    </div>
                    <div class='form-field'>
                         <input placeholder="Last Name" type="text" id="org-lastname" name="org-lastname" /><br />
                    </div>
                <br>
                    <div class='form-field' >
                         <input style='width:355px' placeholder="Phone" type="text" id="org-phone" name="org-phone" /><br />
                    </div>
                    <div class='form-field' style='width:310px'>
                        <input style='width:355px;' placeholder="Email" type="text" id="org-email" name="org-email" /><br />
                    </div>
                
             </div>
             <div style='margin-left:3%'><p style='font-size:17px'>Bell Leader</p></div>
             <div class='middle-from'> 

                    <div class='form-field'>
                         <input placeholder="First Name" type="text" id="leader-firstname" name="leader-firstname" /><br />
                    </div>
                    <div class='form-field'>
                       <input placeholder="Midlle Name" type="text" id="leader-middlename" name="leader-middlename" /><br />
                    </div>
                    <div class='form-field'>
                         <input placeholder="Last Name" type="text" id="leader-lastname" name="leader-lastname" /><br />
                    </div>
                </br>
                    <div class='form-field' >
                         <input style='width:355px' placeholder="Phone M" type="text" id="leader-phone" name="leader-phone" /><br />
                    </div>
                    <div class='form-field' style='width:310px'>
                         <input style='width:355px;' placeholder="Email" type="text" id="leader-email" name="leader-email" /><br />
                    </div>
                 <br>
                    <div class='form-field' >
                        <input style='width:355px' placeholder="ID" type="text" id="leader-ID" name="leader-ID" /><br />
                    </div>
                    <div class='form-field' style='width:310px'>
                        <input style='width:355px;' placeholder="Password" type="text" id="leader-password" name="leader-password" /><br />
                    </div>   
                
             </div>
             <div style='margin-left:3%;color:#C20712;height: 44px;margin-top: 3px;'><p style='font-size:17px'>Urgent Contact
             
             <% if(edit==true){%>
             			<a style='float:right' class='btn btn-danger'>Delete</a>
                    <% }%>
             </p>
             		
                  </div>
              <div id='urgent-from'> 
                    <div class='form-field'>
                        <input placeholder="Name" type="text" id="urg-name" name="urg-name" /><br />
                    </div>
                    <div class='form-field'>
                         <input placeholder="Url" type="text" id="urg-phone" name="urg-phone" /><br />
                    </div>
             </div>
              <div style='margin-left:3%'><p style='font-size:17px'>Authorized By</p></div>
              <div id='Authorized-from' style='background-color:#eee'>
                    <div class='form-field'>
                         <input placeholder="Name" type="text" id="auth-name" name="auth-name" /><br />
                    </div>
                    <div class='form-field'>
                        <input placeholder="Date" type="date" id="auth-date" name="auth-date" /><br />
                    </div>
             </div>
         </form>
       </div>
   </script>  


    
    <-- End Of templates -->
    
    </head>
    
    
    <body>
        
    </body>
  <script>
   $(document).ready(function() {
      App.start()
    })
  </script>
</html>