.body {
  padding-left: 3px;
}

#header {
  position: relative;
  bottom: -20px;
  left: -1px;
}

/*
 * Form Views
 */
.form {
  margin: 20px;
}

.form ul {
  list-style-type: none;
}

.form li {

}

.form .bbf-radio li, .form .bbf-checkboxes li {
  float: left;
}

.form .bbf-field {
  float: left;
  clear: both;
}
  
.form .btn {
  margin: 5px 0px 20px 20px;
}

.form .progress {
  float:left;
  margin-top: 9px;
  margin-left: 10px;
  width: 50px;
  height: 25px;
}

.form input[type="file"] {
  margin: 0 0 0 30px;
}

@media (max-width: 979px) {
  .body {
    margin-top: 0px;
  }
}

.AssignWeekOfResourcesToGroupTable-header {
  text-align: center;
}

.container.body {

    color: #000000;
    font-family: verdana;
    width: 940px;
border-radius: 20px 20px 20px 20px;
}

#star
{
width: 500px !important;	
padding-left: 22px;
	
}

.rating{
	background-image: url("/star-off.png");
	
}

.search-Box
{
	margin-top: 0%;
}
#search-button{
margin-left: 22%;

}
.collection-search{
  border: 1px solid gray;
  width:300px:
  height:200px;
  overflow: scroll;

}
label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 3px;
    margin-right: 15px;
    font-size: 13px;
    //margin-bottom: 10px;
}
label:before {
    content:"";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
} 
input[type=checkbox] {
    margin: 0 2px 3px;
}
input[type=checkbox]:checked + label:before {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
}
.checkbox-subject
{
}
.right-column-search{

}
.checkbox-length
{
	margin-left:2%;
}
.search-result-title
{
	font-weight:bold;
	text-decoration:underline;
	color:rgb(192,80,77);
}
.search-result-h3
{
	margin-left:18%;
}
#question-box {
    height: 116px;
    margin-left: 102px;
    margin-top: 7px;
    position: absolute;
    width: 501px;
}
#new-quiz
{
	color:rgb(66,119,161);
}
#question-area
{
	background-color:rgb(221,221,221);
	margin-top: 2%;
	height: 140px;
	width: 630px;
	
}
#question-no {
    margin-left: 10px;
    margin-top: 11px;
    position: absolute;
}
#option-area
{
	background-color: #E7E7E7;
    height: 222px;
    margin-top: 5px;
    width: 630px;
}
#quiz-body
{
	margin-left:14%;
}
#options-table
{
	margin-left: 65px;
    margin-top: 15px;
    position: absolute;
}

#Radio-margin
{
      
}
#browseImage{
  
    margin-left: 25%;
    margin-top: -37px;
    position: absolute;
}

#site-feedback{
     background-color: #34495E;
    border-radius:20px;
    color: #FFFFFF;
    height: 0px;
    margin-left: 0%;
    position: absolute;
    top: 20%;
    width: 60%;
    visibility: hidden;
    z-index:10;
    padding-left: 20px;
}
#site-feedback .field-comment,#site-feedback .field-priority{
 color: #34495E;
}
#site-feedback .bbf-checkboxes label{
color:white;
}
#site-feedback fieldset{
border:none;
height:100%;
}
#site-feedback .bbf-form{
height: 72%;
}
#site-feedback .bbf-form .bbf-editor{
height: 72%;
}
#site-feedback ul{
height:80%;
}
#site-feedback li{
height:100%;
}
#main-body{
 position: absolute;
    top: 65px;
    width: 100%;
    margin-bottom: 40px;
}
.hh3{
margin-left:35%;

}
#browseImage{
    margin-left: 405px;
}
#f-formButton{
 margin-left: 10%;
    width: 80%;
}

#f-formButton button{
float:left;
margin-left: 1px;
width: 33%;
}

 textarea[name="comment"]
 {
  border-radius: 20px;
    height: 100%;
    width: 87%;
 }
 .table-feedback{
text-align:left;
display: block;
}
.table-feedback th{
text-align:center;
}
.table-feedback tr{
line-height: 34px;
border-bottom:1px solid black;
}
.table-feedback td{
  font-size: 19px;
}
.notification-table th {
    background-color: #34495E;
    color: #FFFFFF;
}

#groupform {
  background-color: #F3F3F3;
  border-radius: 37px;
  margin-bottom: -1%;
  margin-left: -1%;
  width: 883px;
}

#resourceform {
  background-color: #F3F3F3;
  border-radius: 37px;
  margin-bottom: -1%;
  margin-left: -1%;
  width: 883px;
}
#groupform [name="description"]{
 height: 120px;
    width: 456px;
}

#groupform .bbf-field.field-foregroundColor{
    margin-left: 147px;
    margin-top: -56px;
    position: relative;
}
#groupform .bbf-field.field-backgroundColor{
    margin-top: -5px;
}
#invitationForm{
  color:white;
  padding: 21px;
}
#invitationdiv{
    background-color: #B1B1B1;
    border-radius: 20px;
    position: fixed;
    top: 20%;
    width: 65%;
    z-index: 2;
    margin-left:10%;
    overflow: scroll;
    height: 60%;
}
#groupform .bbf-field.field-levels{
    margin-left: 236px;
    margin-top: -85px;
    width: 621px;
}
#groupform .bbf-field .field-description{
   margin-top:-10px; 
}
#groupform .bbf-field.field-levels.bbf-editor > ul > li{
   margin-left:-16px; 
}
#inviteMemberButton{
  
}
#ProgressButton{

}
#rating_checkboxes
{
	margin-left:0px;
}
.filter_star_img
{
	width: 20px;
}

#site-request{
     background-color: #34495E;
    border-radius: 20px;
    color: #FFFFFF;
    height: auto;
    margin-left: 0%;
    position: fixed;
    top: 8%;
    width: 60%;
    z-index:10;
}
#site-request fieldset{
border:none;
height:100%;
}
#site-request .bbf-form{
height: 60%;
margin-bottom: 0px;
}
#site-request .bbf-form .bbf-editor{
height: 72%;
}
#site-request ul{
height:100%;
}
#site-request li{
height:100%;
 color: #34495E;
}
#site-request [name="request"]{
width:90%;
height:100%;
border-radius: 20px;
}
#site-request > span {
padding-left:10px;
font-weight: bold;
}
.field-priority
{
	margin-top: -172px;
	margin-left: 43%;

}
.checkDisplay
{
	display: block;
}


/* course Schedule */
#coursescheduleButton {
    position: absolute;
	top: 96px;
	left: 436px;

}

#durationDiv, #TypeDiv{
  background-color: #E8E8E8;
  margin-bottom: 2px;
  padding-left:36px;
  padding-top: 11px;
}
#durationDiv{
  border-radius:  17px 17px 0 0;
}
#TypeDiv {
     border-radius: 0 0 20px 20px;
    height: 190px;
    padding-left: 19px;
}
#dateDiv {
     padding-left: 9px;
    background-color:#F7F7F7;
    padding-top: 11px;
}
#scheduletitle{
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}
#durationDiv td,#dateDiv td,#TypeDiv td{
    padding-left: 34px;
}
#typeView{
   margin-left: 51px;
}
#locationDiv{
  background-color: #E8E8E8;
  padding-left:10px;
  padding-top: 11px;
}
#locationDiv td{
  padding-left: 34px;
}
#TypeDiv{
  background-color:#F7F7F7;
}
#debug {
     background-color: #808080;
    border-radius: 20px;
    margin-left: 10%;
    max-height: 95%;
    position: fixed;
    top: 30px;
    width: 80%;
}
#comment-feedback {
    margin: 5px;
}
#comments {
  background-color: #B6B6B6;
    border-radius: 20px;
    margin: 10px;
    max-height: 275px;
    overflow-y: scroll;
    padding: 23px;
}
#r-formButton{
margin-left: 33%;
}
#tile {
    background-color: #34495E;
    border-radius: 10px;
    color: #FFFFFF;
    margin-bottom: 10px;
    padding-left: 5px;
}
#MemberfileAttachment{
  margin-bottom: 32px;
    margin-left: 108px;
  
}

/******************MEMBER FORM CSS **************************/
#memberform .bbf-field.field-lastName{
 margin-left: 239px;
 margin-top: -66px; 
}
#memberform .bbf-field.field-middleNames{
 
 margin-left: 481px;
 margin-top: -66px; 
}
#memberform .bbf-field.field-password{
 margin-left: 239px;
 margin-top: -66px; 
}
#memberform .bbf-field.field-email{
 margin-left: 239px;
 margin-top: -66px; 
}
#memberform .bbf-field.field-language{
 margin-left: 481px;
 margin-top: -66px; 
}
#memberform .bbf-field.field-levels{
   margin-left: 239px;
   margin-top: -67px;

}
#underconstruction {
    height: 400px;
    margin-left: 32%;
    width: 400px;
}
/******************/
#popup-spinning {
    position: fixed;
    top: 45%;
    left:45%;
}
/******************course Details ********************/
#courseSteps-heading{
    color: #404040;
}
#courseName-heading{
   color: #404040;
}

/***************/
.form  .field-languageOfInstruction{
    margin-left: 259px;
    margin-top: -64px;
}

.form .field-subjectLevel{
    margin-left: 259px;
    margin-top: -64px;
}
.form .field-Publisher
{
margin-left: 450px;
    margin-top: -64px
}.form .field-Year
{
margin-left: 450px;
    margin-top: -64px
}

#invitationForm .bbf-form .field-Description
{

margin-left: 259px;
    margin-top: -64px;
}
#invitationForm .bbf-form .field-AddedBy
{

margin-left: 259px;
    margin-top: -64px;
}
.MajorCategory
{
    font-weight:bold;
}
.form .field-endDate
{
margin-left: 259px;
    margin-top: -64px;

}
.form .field-Level
{
margin-left: 224px;
    margin-top: -51px
} 
.form .field-Tag {
    margin-left: 450px;
    margin-top: -51px;
}
.form .field-openWith{
    margin-left: 450px;
    margin-top: -65px;
}
.form .field-method{
    margin-left: 514px;
    margin-top: -165px;
}
.form .field-location{
 margin-left: 514px;
    margin-top: -64px;
}
.form .field-memberLimit{
   margin-left: 514px;
    margin-top: -64px;
}
.form .field-frequency{
     margin-left: 526px;
    margin-top: -63px;
}
.form .field-endTime{
margin-left: 259px;
    margin-top: -64px;
}
.form .field-stepGoals{
      margin-left: 259px;
    margin-top: -96px;
}
.form .field-stepMethod{
      margin-left: 259px;
    margin-top: -64px;
}
.form .field-outComes{
      margin-left: 259px;
    margin-top: -64px;
}
.Graphbutton
{

}
.logquery-community{
	margin: 35px 0 0 35px;
}
#logquery-date{
margin-top: 20px;
}
#report_button{
margin-top: 20px;
margin-left: 190px;
}
#add_newCoellection{

margin-left: 714px;
    margin-top: -854px;
}
