.btable{
    border-spacing: 0px;
    width:100%;
}
.btable .btn{
	
	display: inline-block;
}

.btable-striped tbody > tr:nth-child(2n+1) > td, .btable-striped tbody > tr:nth-child(2n+1) > th {
    background-color: #F9F9F9;
}
/*.btable th, .btable td {
    border-top: 1px solid #DDDDDD;
    line-height: 20px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}*/
.inner-table{
	table-layout: fixed; 
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	border-collapse:collapse;
}
.inner-table td{
font-family: verdana;
  font-weight:bold;
  text-align:center;
  vertical-align: middle;
  width:112px;
  height:100%;
  font:verdana;
  color:white;

}
.inner-table td a{
    color: #FFFFFF;
    font-family: verdana;
    font-weight: bold;
    text-align: center;
    text-decoration: none;;
	height: 27%;
	padding-top: 5%;
    display: block;
    word-wrap: inherit;
}

.inner {
  overflow-x:auto;
  width:811px;
  height: 89px;
}
.shelf-box
{
background-color: #7d609e;
border-right: 2px solid white;
font-family: verdana;
word-wrap:break-word;
}
.inner-table > .shelf-box > a{
   padding-top: 4%;
}
.course-box
{
background-color: #3f75a3;
border-right: 2px solid white;
font-family: verdana;
word-wrap:break-word;
}

.meetup-box
{
background-color: #2f816f;
border-right: 2px solid white;
word-wrap:break-word;
}
.displayCourse{
	height:100%;
}

.login-form-button
{
	display: block;
    font-size: 27px;
    font-weight: bold;
    padding-left: 35%;
    margin-top: 9px;
    background-color: #1ABC9C;
}
.addResource{

    direction:rtl;
}
.addMarginsOnResource{
    margin-right:1.5%;
}
.addMarginsOnCourseUrdu
{
    width: 132px;
    margin-left: 2%;
    margin-right: 2%;
}
.addMarginsOnRequestCourse{
    margin-left: 2%;
}
.addMarginsOnCourseEng
{
width:110px;
}
.btn.btn-success
{
    background-color: #1ABC9C;
}
.btn.btn-success.AddToShelf{
    font-size: 15px;
    padding-left: 10%;
    margin-top: 9px;
    display: inline;
    padding-right: 10%;	
}
.login-form > .bbf-form > fieldset
{
    border: none;
    border: medium none;
    height: 182px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 363px;
    color:white;
    background-color: #34495E;
    margin-left: 4px; /* #99  : login and password div previous */
}
bbf-form ul{border: 5px solid;}

.login-form .field-login label, .login-form .field-password label
{font-size: 22px;}

.login-form .field-login .bbf-editor input[name="login"],.login-form .field-password .bbf-editor input[name="password"] 
{
    height: 30px;
    width: 285px;
}
.page-bottom-navtable td
{
	width: 40px;
	border: 2px solid transparent;
}
.signup-form > .bbf-form{
    background-color: #34495E;
     border-radius: 20px 20px 0 0;
}
.signup-form {
	margin-left: 20%;
	margin-right: 20%;
	width: 64%;
}
.signup-form fieldset {
    border: medium none;
}

.signup-form .bbf-editor  input {
    height: 20px;
}

.signup-form .bbf-error  {
    color:red;
}
.signup-submit {
    margin-top: -25px;
    margin-left: 440px;
}
.signup-btn.btn {
    background-color: #1ABC9C;
    font-size: 22px;
    font-weight: bolder;
    margin-left: 1%;
    padding-left: 40%;
    padding-right: 40%;
}



.fc-header{
	float:left;	
}

#addEvent{
	padding-bottom: 20px;
    padding-top: 20px;
}

.addEvent-btn.btn.btn-success{
	padding-bottom: 15px;
    padding-top: 15px;
margin-top:-10px;
}

.resourceDetail{
	width: 80%;
	margin: 0px auto;
}

.btn.open.btn-success {
    padding-left: 0;
    width: 70%;
}
.table.assignmenttable {
    margin-left: 5%;
    width: 80%;
}
.table.assignmenttable th
{background-color: #34495E;
   color: #FFFFFF;}

.table.assignmenttable td a
{margin-left: 5%;
	font-size: 21px;
}
#star {
 color: #FFFFFF;
    padding-left: 44px;
    width: 500px !important;
    padding-top: 10px;
}

.feedback_form label{
	color:black;
}

.feedback_form fieldset{
	border:none;
}
.feedback_form .bbf-editor > input
{ width: 20%;}

.badger-badge {
    margin: 3px;
    padding: 0 5px;
    z-index: 3;
}
.signup-form #fileAttachment
{
 background-color: #34495E;
    border-radius: 0 0 20px 20px;
    color: #FFFFFF;
}
.btn.btn-info {
    font-weight: bolder;
}
h3 a{
color:white;
}

#accordion .btn-success, #accordion .btn-disabled {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 900;
       padding: 7px 10px 6px;
    margin-top: 0; !important
}
.table-feedback{
text-align:left;
display: block;
border:none;
}
.table-feedback th{
text-align:center;
}
.table-feedback tr{
line-height: 34px;
border-bottom:1px solid black;
}
.table-feedback td{
  font-size: 19px;
}
.takeQuizDiv {
  background-color: #34495E;
    border-radius: 20px;
    color: #FFFFFF;
    margin-left: 10%;
    padding-left: 5%;
    position: absolute;
    top: 15%;
    width: 75%;
    z-index: 1;
    padding-right: 5%;
   
}
.takeQuizDiv .btn-danger{
 width: 25%;
 float:left;
}
.takeQuizDiv .btn-primary{
 width: 25%;
  float:right;
}

.quizText textarea{
   background-color: #FFFFFF;
    border-radius: 14px;
    color: #000000;
    width: 100%;
}
.Progress{
position:relative;
}
.quizText{
position:relative;
}
.quizOptions{
position:relative;
 margin-bottom: 22px;
}
.quizActions{
position:relative;
 margin-bottom: 76px;
}
#site-feedback{
     background-color: #34495E;
    border-radius: 0px 0px 20px 20px;
    color: #FFFFFF;
    height: 0px;
    margin-left: 20%;
    position: absolute;
    top: -1px;
    width: 60%;
    visibility: hidden;
    z-index:10;
}
#site-feedback fieldset{
border:none;
height:100%;
}

#site-feedback .bbf-form{
height: 72%;
}
#site-feedback .bbf-form .bbf-editor{
height: 72%;
}
#site-feedback ul{
height:80%;
}
#site-feedback li{
height:100%;
}
#f-formButton{
  margin-left: 5%;
  margin-top: -12px;
  margin-top:3%;
}

#f-formButton button{
float:left;
margin-left: 1px;
width: 33%;
}

textarea[name="comment"]
{
    border-radius: 20px;
    height: 100%;
    width: 87%;
}
.quizOptions input
{height: 22px;
    width: 32px;
}
    
.ui-accordion.ui-widget.ui-helper-reset.ui-sortable {
    width: 99%;
}
.Course-table{
	width:100%;
	 border-collapse: collapse;
}
.level-section-data{
	height: 47px;
}
.level-section-title{
	  background-color: #C4EFFD;
    height: 60px;
    font-size: 19px;
}
.stu-nav-option-empty > a {
    color: #FF0000;
    font-size: 30px;
    font-weight: 900;
}
.graphLabelgraph {
    height: 39px;
    overflow: hidden;
    word-wrap: break-word;
}

#veticallable{
 float: left;
    height: 45%;
    padding-top: 10%;
    position: relative;
    width: 14px;
}
#graph{
  float: left;
    width: 98%;
}
#horizontallabel{
    float: left;
    padding-left: 48%;
    position: relative;
    width: 100%;
}

#externalDiv {
    background-color: #34495E;
    border: 2px solid #000000;
    border-radius: 20px;
    font-weight: 900;
    height: auto;
    left: 10%;
    overflow: hidden;
    padding: 10px;
    position: fixed;
    top: 20%;
    width: 80%;
    z-index: 2;
}

#externalDiv fieldset{
border:none;
font-weight: 900;
}
#externalDiv > form {
    margin-bottom: 48px;
}
#inbox_mails{
    font-size: 17px;
    margin-left: 10%;
    width: 80%;
}
#mailActions{
 height: 64px;
    margin-left: 10%;
    overflow: hidden;
	 width: 80%;
}
.mail-table {
    height: 46px;
    overflow: hidden;
	 width: 80%;
	  margin-left: 10%;
}
#commentButton{

}
#debug {
    background-color: #808080;
    border-radius: 20px;
    margin-left: 10%;
    max-height: 95%;
    position: fixed;
    top: 30px;
    width: 80%;
    z-index: 4;
}
#comments {
    background-color: #B6B6B6;
    border-radius: 20px;
    margin: 10px;
    max-height: 275px;
    overflow-y: scroll;
    padding: 23px;
}
#comment-feedback {
    margin: 5px;
}
#r-formButton {
    margin-left: 33%;
}
#comment-feedback fieldset{
border:none;
}
#tile {
    background-color: #34495E;
    border-radius: 10px;
    color: #FFFFFF;
    margin-bottom: 10px;
    padding-left: 5px;
}

.courseInfo-table
{
    border: 2px solid #000000;
    overflow: hidden;
    width: 940px;
	color:white;
	margin:0px auto;
	background-color:#1ABC9C;
	border-collapse:collapse;
}
.courseInfo-table th
{background-color:#34495E;
	font-weight: bolder;
	    height: 40px;
	font-size: 30px;
	}
.courseInfo-table tr
{
 border-top: 2px dashed #000000;	
	font-size: 17px;
  font-weight: 900;
  height: 47px;
  overflow: hidden;	
}
.courseInfo-table tr
{background-color:#1ABC9C;}

.courseInfo-table-td-title
{
	width:50%;
	padding-left: 5%;
}

.courseInfo-table-td-link
{
	width:50%;
}

.courseInfo-header
{
    width: 940px;
	color:white;
	margin:0px auto;
}
