#glob_img{
    height: 340px;
    margin-left: 96px;
    margin-top: -287px;
    width: 340px;
}
#header {
  position: relative;
  bottom: -20px;
  left: -1px;
}
#clickmore
{
margin-left: 15px;
font-size: 13px;
}
/*
 * Form Views
 */
.form {
  margin: 2px;
}

.form ul {
  list-style-type: none;
}

.form li {
  margin:10px -1px 17px;
}

.form .bbf-radio li, .form .bbf-checkboxes li {
  float: left;
}

.form .bbf-field {
  float: left;
  clear: both;
}
.form .progress {
  float:left;
  margin-top: 9px;
  margin-left: 10px;
  width: 50px;
  height: 25px;
}

.form .field-IssueNo {
  margin-left:500px;
  margin-top:-82px;
}
.form .field-editorEmail {
  margin-left:250px;
  margin-top:-82px;
}.form .field-editorPhone {
  margin-left:500px;
  margin-top:-82px;
}
.form input[type="file"] {
  margin: 0 0 0 30px;
}

@media (max-width: 979px) {
  .body {
    margin-top: 0px;
  }
}

.AssignWeekOfResourcesToCourseTable-header {
  text-align: center;
}

.container.body {

    color: #000000;
    font-family: verdana;
    width: 940px;
border-radius: 20px 20px 20px 20px;
}

#star
{
width: 500px !important;	
padding-left: 22px;
	
}

.rating{
	background-image: url("/star-off.png");
	
}


.search-Box
{
	margin-left: 12%;
	margin-top: 3%;
}
label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 3px;
    margin-right: 15px;
    font-size: 13px;
    //margin-bottom: 10px;
}
label:before {
    content:"";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
} 
input[type=checkbox] {
    margin: 0 2px 3px;
}
input[type=checkbox]:checked + label:before {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
}
.checkbox-subject
{
	margin-left:40%;
	margin-top:-12%;
}
.checkbox-length
{
	margin-left:2%;
}
.search-result-title
{
	font-weight:bold;
	text-decoration:underline;
	color:rgb(192,80,77);
}
.search-result-h3
{
	margin-left:18%;
}
#question-box {
    height: 116px;
    margin-left: 102px;
    margin-top: 7px;
    position: absolute;
    width: 501px;
}
#new-quiz
{
	color:rgb(66,119,161);
}
#question-area
{
	background-color:rgb(221,221,221);
	margin-top: 2%;
	height: 140px;
	width: 630px;
	
}
#question-no {
    margin-left: 10px;
    margin-top: 11px;
    position: absolute;
}
#option-area
{
	background-color: #E7E7E7;
    height: 222px;
    margin-top: 5px;
    width: 630px;
}
#quiz-body
{
	margin-left:14%;
}
#options-table
{
	margin-left: 65px;
    margin-top: 15px;
    position: absolute;
}



#Radio-margin
{
      
}
#browseImage{
  
    margin-left: 25%;
    margin-top: -37px;
    position: absolute;
}
#site-feedback .field-comment,#site-feedback .field-priority{
 color: #34495E;
}
#site-feedback .bbf-checkboxes label{
color:white;
}
#site-feedback fieldset{
border:none;
height:100%;
}
#site-feedback .bbf-form{
height: 72%;
}
#site-feedback .bbf-form .bbf-editor{
height: 72%;
}
#site-feedback ul{
height:80%;
}
#site-feedback li{
height:100%;
}
#main-body{
 position: absolute;
    width: 100%;
    margin-bottom: 40px;
}
.hh3{
margin-left:35%;

}
#browseImage{
    margin-left: 405px;
}
#f-formButton{
 margin-left: 10%;
    width: 80%;
}

#f-formButton button{
float:left;
margin-left: 1px;
width: 33%;
}

 textarea[name="comment"]
 {
  border-radius: 20px;
    height: 100%;
    width: 87%;
 }
.table-feedback {
    border: medium none;
    display: block;
    text-align: left;
}
.table-striped {
    border-collapse: collapse;
    color: #345474;
    font-family: verdana;
    width: 100%;
}
.table-feedback th{
text-align:center;
}
.table-feedback tr{
line-height: 34px;
border-bottom:1px solid black;
}
.table-feedback td{
  font-size: 19px;
}
.notification-table th {
    background-color: #34495E;
    color: #FFFFFF;
}

#courseform {
  background-color: #F3F3F3;
  border-radius: 37px;
  margin-bottom: -1%;
  margin-left: -1%;
  width: 883px;
}
#courseform [name="description"]{
  height: 80px;
    width: 702px;
}

#courseform .bbf-field.field-leaderEmail{
    margin-left: 250px;
     margin-top: -82px;
     position: relative;
    
}
#courseform .bbf-field.field-courseLeader{
     margin-top: -18px;
}
#courseform .bbf-field.field-leaderPhone{
    margin-left: 500px;
    margin-top: -84px;
    position: relative;
    
}
#courseform .bbf-field.field-foregroundColor{
    margin-left: 147px;
    margin-top: -73px;
    position: relative;
}
#courseform .bbf-field.field-backgroundColor{
    margin-top: -17px;
}
#invitationForm{
  color:white;
  padding: 21px;
}
#invitationdiv{
    background-color: #B1B1B1;
    border-radius: 20px;
    position: fixed;
    top: 20%;
    width: 50%;
    z-index: 2;
    margin-left:10%;
    overflow: scroll;
    height: 50%;
}
#courseform .bbf-field.field-levels{
    margin-left: 236px;
    margin-top: -85px;
    width: 621px;
}
#courseform .bbf-field.field-description{
   margin-top:-21px; 
}
#courseform .bbf-field.field-levels.bbf-editor > ul > li{
   margin-left:-16px; 
}
#inviteMemberButton{
  
  margin-left: 660px;
  margin-top: -991px;
}
#ProgressButton{
 margin-left: 541px;
    margin-top: -1070px;
}
#rating_checkboxes
{
	margin-left:0px;
	margin-top:-422px;
}
.filter_star_img
{
	width: 20px;
}

#site-request{
     background-color: #34495E;
    border-radius: 20px;
    color: #FFFFFF;
    height: auto;
    margin-left: 0%;
    position: fixed;
    top: 8%;
    width: 60%;
    z-index:10;
}
#site-request fieldset{
border:none;
height:100%;
}
#site-request .bbf-form{
height: 60%;
margin-bottom: 0px;
}
#site-request .bbf-form .bbf-editor{
height: 72%;
}
#site-request ul{
height:100%;
}
#site-request li{
height:100%;
 color: #34495E;
}
#site-request [name="request"]{
width:90%;
height:100%;
border-radius: 20px;
}
#site-request > span {
padding-left:10px;
font-weight: bold;
}
.field-priority
{
	margin-top: -172px;
	margin-left: 43%;

}
.checkDisplay
{
	display: block;
}


/* course Schedule */
#coursescheduleButton {
    margin-left: 321px;
    margin-top: -1070px;
}

#durationDiv, #TypeDiv{
  background-color: #E8E8E8;
  margin-bottom: 2px;
  padding-left:36px;
  padding-top: 11px;
}
#durationDiv{
  border-radius:  17px 17px 0 0;
}
#TypeDiv {
     border-radius: 0 0 20px 20px;
    height: 190px;
    padding-left: 19px;
}
#dateDiv {
     padding-left: 9px;
    background-color:#F7F7F7;
    padding-top: 11px;
}
#scheduletitle{
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}
#durationDiv td,#dateDiv td,#TypeDiv td{
    padding-left: 34px;
}
#typeView{
   margin-left: 51px;
}
#locationDiv{
  background-color: #E8E8E8;
  padding-left:10px;
  padding-top: 11px;
}
#locationDiv td{
  padding-left: 34px;
}
#TypeDiv{
  background-color:#F7F7F7;
}
#debug {
     background-color: #808080;
    border-radius: 20px;
    margin-left: 10%;
    max-height: 95%;
    position: fixed;
    top: 30px;
    width: 80%;
    z-index: 100;
}
#comment-feedback {
    margin: 5px;
}
#comments {
  background-color: #B6B6B6;
    border-radius: 20px;
    margin: 10px;
    max-height: 275px;
    overflow-y: scroll;
    padding: 23px;
}
#r-formButton{
margin-left: 33%;
}
#tile {
    background-color: #34495E;
    border-radius: 10px;
    color: #FFFFFF;
    margin-bottom: 10px;
    padding-left: 5px;
}
#MemberfileAttachment{
  margin-bottom: 32px;
    margin-left: 108px;
  
}

/******************MEMBER FORM CSS **************************/
#memberform .bbf-field.field-lastName{
 margin-left: 481px;
 margin-top: -83px; 
}
#memberform .bbf-field.field-middleNames{
 margin-left: 239px;
 margin-top: -83px; 
}
#memberform .bbf-field.field-password{
 margin-left: 239px;
 margin-top: -84px; 
}
#memberform .bbf-field.field-email{
 margin-left: 239px;
 margin-top: -84px; 
}
#memberform .bbf-field.field-language{
 margin-left: 481px;
 margin-top: -84px; 
}
#memberform .bbf-field.field-levels{
 margin-left: 239px;
 margin-top: -84px; 
}
#underconstruction {
    height: 400px;
    margin-left: 32%;
    width: 400px;
}
/******************/
#popup-spinning {
    position: fixed;
    top: 45%;
    left:45%;
}
/** NEW CSS Changes*/


div.content {
    width: 100%;
    padding:10px;
}

div.main {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}
div.question1_style {
    margin: 10px;
    padding: 10px;
    background-color:#d7eafc;
    border-radius:10px;
    border:1px solid #a7d1fb;
}
div.question2_style {
    margin: 10px;
    padding: 10px;
    background-color:#bcdbf9;
    border-radius:10px;
    border:1px solid #54a9fe;
}


div.question_new_style {
    margin: 10px;
    padding: 10px;
    background-color:#c6f3b9;
    border-radius:10px;
    border:1px solid #39a72e;
}
.add_new {
    background-color:#39a72e;
    padding: 2px 4px 2px 4px;
    font-size:10px;
    color:#fff;
}

.ui-dialog-titlebar-close {
    background: url("../images/icons/ui-icons_888888_256x240.png") repeat scroll -93px -128px rgba(0, 0, 0, 0);
    border: medium none;
}
.ui-dialog-titlebar-close:hover {
    background: url("../images/icons/ui-icons_222222_256x240.png") repeat scroll -93px -128px rgba(0, 0, 0, 0);
}
.button1 {
    cursor: pointer;
    display: inline;
    font: 12px/2.5em Verdana;
    margin-left: 8px;
    overflow: hidden;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
}
.subtitle {
    border-bottom: 1px solid #aaa;
    color: #777;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.07em;
    margin-bottom: 7px;
    padding-bottom: 3px;
}

.subtitle2 {
    color: #000;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
    padding-bottom: 1px;
}


.surTextArea {
    width: 700px;
}

.question-table {
    width:700px;
    padding:10px;
}

.line-separator{
    margin:10px 0px 10px 0px;
    height:1px;
    border-bottom:1px solid #82b3e4;
}

.default_btn {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    background: #34495E;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border:1px solid #3a536c;
}

.default_btn:hover {
    background: #3a536c;
    text-decoration: none;
}
.add_btn {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    background: #4c9e38;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border:1px solid #408c2e;
}


.add_btn:hover {
    background: #408c2e;
    text-decoration: none;
}
