ul, ol {
    padding-left:10px;
}
h1,h2,h3,h4,h5,h6{
    color: #345474;
}

#dashboard
{
    /*height: 471px;*/
    height:auto;
    /*width: 950px;*/
    width:957px;
    overflow: hidden;
}
.btable th, .btable td {
    border-top: 1px solid #DDDDDD;
    line-height: 20px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}
#page-header
{
    box-shadow: 0 2px 2px #888888;
    height: 128px;
    width: 100%;
}
.dashboard-buttons
{
    padding-right: 20px;
    display: inline-block
}
#header-image
{
    height: inherit;
    width:100%;
}
#page-body
{
    height: 290px;
}
.stu-nav-tube
{
    border: 5px solid black;
}

.navbar .nav{
    width: 85%;
}
.stu-nav-table
{
    padding:5 5 0 5;
    width:100%;
    height:280px;
    padding-top:5px;
}
.page-bottom-navtable
{
    width: 943px;
    height:50px;
    padding-top:0px;
    margin-bottom: 50px;
}

.stu-nav-title
{
    border: 1.5px solid darkgrey;
    font-weight:bolder;
    text-align:left;
    font-family: verdana;
    font-size: large;
    padding: 8px 8px;
    background-color: #e1e1e1;
    width:50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color:darkorange;
}

.stu-nav-title-courses
{
    color: #3f75a3;

}
.stu-nav-title-shelf
{
    color:  #7d609e;

}
.stu-nav-title-badges
{
    color: #2f816f;

}

#page-bottom-navbuttons
{
    margin-left: 12px;
    height: 60px;
    overflow: hidden;
    margin-top: 14px;
}

.stu-nav-option
{
    border: 1.5px solid darkgreen;
    padding: 5px 5px;
    font:arial;
    text-align:center;
    font-family: verdana;
    width:50px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #bee065;
    color: #35690f;
    font-weight: bolder;
    font-size: larger;
}
.stu-nav-option-empty
{
    background-color: #E1E1E1;
    border: 1.5px solid #A9A9A9;
    width:30px;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
}

.scrollable-courses
{
    border-top: 2.5px solid orange;
    border-bottom: 2.5px solid orange;
    padding: 0 0 0 0;
}
.scrollable-shelf
{
    border-top: 2.5px solid purple;
    border-bottom: 2.5px solid purple;
    padding: 0 0 0 0;
}

.scrollable-badges
{
    border-top: 2.5px solid green;
    border-bottom: 2.5px solid green;
    border-right: 2.5px solid green;
    padding: 0 0 0 0;
    border-right-width:0px;
}

.scrollable-tutor
{
	border-top: 2.5px solid #FF8C00;
    border-bottom: 2.5px solid #FF8C00;
    border-right: 2.5px solid #FF8C00;
    padding: 0 0 0 0;
    border-right-width:0px;
}

.btn-green {
    -moz-box-shadow:inset 0px 0px 0px 0px #c1ed9c;
    -webkit-box-shadow:inset 0px 0px 0px 0px #c1ed9c;
    box-shadow:inset 0px 0px 0px 0px #c1ed9c;
    background-color:#9dce2c;
    -webkit-border-top-left-radius:9px;
    -moz-border-radius-topleft:9px;
    border-top-left-radius:9px;
    -webkit-border-top-right-radius:9px;
    -moz-border-radius-topright:9px;
    border-top-right-radius:9px;
    -webkit-border-bottom-right-radius:9px;
    -moz-border-radius-bottomright:9px;
    border-bottom-right-radius:9px;
    -webkit-border-bottom-left-radius:9px;
    -moz-border-radius-bottomleft:9px;
    border-bottom-left-radius:9px;
    text-indent:0;
    border:2px solid #014D0F;
    display:inline-block;
    color:#014D0F;
    font-family:verdana;
    font-weight:bold;
    font-style:normal;
    text-decoration:none;
    text-align:center;
    /*text-shadow:0px 0px 0px #689324;*/
}

.btn-red {
    -moz-box-shadow:inset 0px 0px 0px 0px #c1ed9c;
    -webkit-box-shadow:inset 0px 0px 0px 0px #c1ed9c;
    box-shadow:inset 0px 0px 0px 0px #c1ed9c;
    background-color:#ff0000;
    -webkit-border-top-left-radius:9px;
    -moz-border-radius-topleft:9px;
    border-top-left-radius:9px;
    -webkit-border-top-right-radius:9px;
    -moz-border-radius-topright:9px;
    border-top-right-radius:9px;
    -webkit-border-bottom-right-radius:9px;
    -moz-border-radius-bottomright:9px;
    border-bottom-right-radius:9px;
    -webkit-border-bottom-left-radius:9px;
    -moz-border-radius-bottomleft:9px;
    border-bottom-left-radius:9px;
    text-indent:0;
    border:2px solid #8A1732;
    display:inline-block;
    color:#fff;
    font-family: verdana;
    font-weight:bold;
    font-style:normal;
    text-decoration:none;
    text-align:center;

    /*text-shadow:1px 1px 12px #689324;*/
}

.btn-green, .btn-red
{
    height: 40px;
    margin-left: 19px;
    width: 158px;
    vertical-align: middle;
    font-size:18px;
}
.navbar-inverse
{
    height: 62px;
    width: 100%;
}

.btn.btn-hg, .input-course-hg .btn
{
    line-height:13px;
    color: white;
    font-size: 15px;
    height: 51px;
    width: 152px;
    font-weight: 900;
}

.navbar-inverse .nav > li > a {
    padding: 16px 20px 15px 0px;
}

.login-form > .bbf-form{

    height: 191px;
    width: 50%;

}

.login-heading
{
    display: block;
    font-size: 28px;
    margin-left: 35%;
    width: 260px;
}

.login-form
{
    height: 300px;
    margin-left: 35%;
    width: 370px;
}

#olelogo
{
    float: left;
    width: 125px;
    float: left;
    padding-left: 183px;
    padding-top: 31px;
}
#loginLang{
    display: inline-flex;
    float:right;
    margin-top:10px;
}
#nav{
    display: flex;
    text-align: center;
}
.date-picker {
    width: 300px;
    float: right;
    margin-bottom: 6px;
}

#nav li{
    display: inline-block;
    text-align:center;
}
#logo
{
    width:50px;
}

.teams_table_heading
{
    font-size: large;
}
a{color:white;}

.news-table
{
    border: 2px solid #000000;
    margin-left: 30%;
    margin-right: 30%;
    overflow: hidden;
    width: 40%;
    color:white;
    background-color:#1ABC9C;
    border-collapse:collapse;
}
.news-table th
{background-color:#34495E;
    font-weight: bolder;
    height: 40px;
    font-size: 30px;
}
.news-table tr
{
    border-top: 2px dashed #000000;
    font-size: 17px;
    font-weight: 900;
    height: 47px;
    overflow: hidden;
}
.news-table tr
{background-color:#1ABC9C;}

.news-table-td-title
{
    width:50%;
    padding-left: 5%;
}

.news-table-td-link
{
    width:50%;
}

.btn.clickable {
    background-color: #1ABC9C;
    font-size: 19px;
    font-weight: bolder;
    padding-left: 80%;
}


.search-Box
{
    margin-left: 30%;
    margin-top: 3%;
}

.search-bottom-nav
{
    margin-left: 5%;
    overflow: hidden;
    width: 90%;
    margin-right: 5%;
}

.previous-button-container {
    width: 50%;
}
.next-button-container {
    width: 50%;
}
#next_button
{
    width:45%;
    float: right;

}
#previous_button
{
    width:45%;
}
.search-bottom-nav-table {
    width: 100%;
}

.search-box .search-href {
    text-decoration: none;
    color: #1ABC9C;
    background:none;
}

.signup-div {
    margin-top: 26px;
}
.signup-form-button.btn.btn-block.btn-lg.btn-info {
    font-size: 22px;
    font-weight: bold;
    line-height: inherit;
    padding-left: 36%;
    padding-right: 40%;
}

.signup-heading
{
    margin-left: 30%;
    text-decoration: underline;}

.fc-header-title h2 {
    font-size: 32px;
}
.fc-header-left {
    margin-left: 0px;
    padding-left: 0px;
}
.fc-state-default.fc-corner-left,.fc-state-default.fc-corner-right, .fc-button.fc-button-agendaWeek.fc-state-default  {
    padding: 10px 20px;
}
.fc-event-time, .fc-event-title
{
    font-weight:900;
}
.name > a {
    color: #16A085;
    font-size: 25px;
}
.notification-table th {
    background-color: #34495E;
    color: #FFFFFF;
}
.Course-heading{
    font-size: 24px;
    margin-left: 4%;
    color: #666666;
}
.ui-accordion-header.ui-helper-reset.ui-state-default.ui-accordion-header-active.ui-state-active.ui-corner-top.ui-accordion-icons {
    background-color: #34495E;
    color: #FFFFFF;
}
.ui-accordion-header.ui-helper-reset.ui-state-default.ui-corner-all.ui-accordion-icons {
    background-color: #404040;
    color: #FFFFFF;
}
.ui-accordion .ui-accordion-content {
    padding: 0;
    border-radius: 0 0 10px 10px;
}
.bigheader{
    font-size: 23px;
}
.cidt-pp{
    text-align:right;
}

.signup-form .field-firstName
{
}
.signup-form .field-lastName
{
    margin-top: -51px;
    margin-left: 400px;
}
.signup-form .field-middleNames
{
    position: absolute;
    margin-left: 196px;
    margin-top: -54px;

}
.signup-form .field-login
{
    margin-left: 0%;
    margin-top: 5%;
}
.signup-form .field-password
{
    position: absolute;
    margin-left: 196px;
    margin-top: -53px;
}
.signup-form .field-phone
{
    margin-left : 0%;
    margin-top: 40px;
}
.signup-form .field-email
{
    margin-left: 400px;
    margin-top: -145px;
}
.signup-form .field-birthLanguage
{
    margin-left: 195px;
    margin-top: 40px;
}
.signup-form .field-BirthDate
{
    margin-left: 400px;
    margin-top: -54px;
}
.signup-form .field-Gender
{
    margin-top: 50px;
}
.signup-form .field-levels
{
    margin-left: 195px;
    margin-top: -41px;
}
.signup-form .field-roles
{
    margin-left: 68%;
    margin-top: -7%;
}
.field-teachingCredentials{
    margin-left: 195px;
    margin-top: -41px;
}
.field-subjectSpecialization
{
    margin-left: 68%;
    margin-top: -7%;
}
#site-feedback fieldset{
    border:none;
    height:100%;
}
#f-formButton{
    margin-left: 10%;
    width: 80%;
}

#f-formButton button{
    float:left;
    margin-left: 1px;
    width: 33%;
}

textarea[name="comment"]
{
    border-radius: 20px;
    height: 100%;
    width: 87%;
}
#site-feedback .bbf-form{
    height: 72%;
}
#site-feedback .bbf-form .bbf-editor{
    height: 72%;
}
.h3{
    margin-left:35%;

}
#browseImage{
    margin-left: 42px;
    position: absolute;
}

.collapse{
    overflow: visible;
}

#dashboard
{
    /* height: 471px;*/
    height:auto;
    width: 950px;
    overflow: hidden;
    margin:0px auto;
}
.imageData {
    width: 112px;
}
.btn.fui-gear {
    height: 40px;

    padding: 0;

    width: 40px;
}
#itemsinnavbar{
    margin: 0;
    width:100%;
    padding-top: 5px;
    padding-left: 20px;
}
.header-table {
    width: 100%;
    font-size: 20px;
    background-color:#E1E1E1;
}
.navbar .container {
    width: -moz-max-content;
}
.right {
    text-align: right;
}
#page-body
{
    height: 290px;
}
.stu-nav-tube
{
    border: 5px solid black;
}
.name{
    font-size: 30px;
    padding-top: 12px;
    font-weight: 900;
}
.stu-nav-table
{
    padding:5 5 0 5;
    width:100%;
    height:280px;
    padding-top:5px;
}
.page-bottom-navtable
{
    width: 943px;
    height:50px;
    padding-top:0px;
    margin-bottom: 50px;
}

.stu-nav-title > a{
    color: #FFA500;

}

.stu-nav-title
{
    border: 1.5px solid darkgrey;
    font-weight:bolder;
    text-align:left;
    font-family: verdana;
    font-size: large;
    padding: 8px 8px;
    background-color: #e1e1e1;
    width:50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color:darkorange;
}

.stu-nav-title-courses
{
    color: #3f75a3;

}
.stu-nav-title-shelf
{
    color:  #7d609e;

}
.stu-nav-title-badges
{
    color: #2f816f;

}

#page-bottom-navbuttons
{
    margin-left: 12px;
    height: 60px;
    overflow: hidden;
    margin-top: 14px;
}

.stu-nav-option
{
    border: 1.5px solid darkgreen;
    padding: 5px 5px;
    font:arial;
    text-align:center;
    font-family: verdana;
    width:50px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #bee065;
    color: #35690f;
    font-weight: bolder;
    font-size: larger;
}
.stu-nav-option-empty
{
    background-color: #E1E1E1;
    border: 1.5px solid #A9A9A9;
    width:30px;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
}

.scrollable-courses
{
    border-top: 2.5px solid orange;
    border-bottom: 2.5px solid orange;
    padding: 0 0 0 0;
}
.scrollable-shelf
{
    border-top: 2.5px solid purple;
    border-bottom: 2.5px solid purple;
    padding: 0 0 0 0;
}

.scrollable-badges
{
    border-top: 2.5px solid green;
    border-bottom: 2.5px solid green;
    border-right: 2.5px solid green;
    padding: 0 0 0 0;
    border-right-width:0px;
}

.scrollable-tutor
{
    border-top: 2.5px solid #FF8C00;
    border-bottom: 2.5px solid #FF8C00;
    border-right: 2.5px solid #FF8C00;
    padding: 0 0 0 0;
    border-right-width:0px;
}

.btn-green {
    -moz-box-shadow:inset 0px 0px 0px 0px #c1ed9c;
    -webkit-box-shadow:inset 0px 0px 0px 0px #c1ed9c;
    box-shadow:inset 0px 0px 0px 0px #c1ed9c;
    background-color:#9dce2c;
    -webkit-border-top-left-radius:9px;
    -moz-border-radius-topleft:9px;
    border-top-left-radius:9px;
    -webkit-border-top-right-radius:9px;
    -moz-border-radius-topright:9px;
    border-top-right-radius:9px;
    -webkit-border-bottom-right-radius:9px;
    -moz-border-radius-bottomright:9px;
    border-bottom-right-radius:9px;
    -webkit-border-bottom-left-radius:9px;
    -moz-border-radius-bottomleft:9px;
    border-bottom-left-radius:9px;
    text-indent:0;
    border:2px solid #014D0F;
    display:inline-block;
    color:#014D0F;
    font-family:verdana;
    font-weight:bold;
    font-style:normal;
    text-decoration:none;
    text-align:center;
    /*text-shadow:0px 0px 0px #689324;*/
}

.btn-red {
    -moz-box-shadow:inset 0px 0px 0px 0px #c1ed9c;
    -webkit-box-shadow:inset 0px 0px 0px 0px #c1ed9c;
    box-shadow:inset 0px 0px 0px 0px #c1ed9c;
    background-color:#ff0000;
    -webkit-border-top-left-radius:9px;
    -moz-border-radius-topleft:9px;
    border-top-left-radius:9px;
    -webkit-border-top-right-radius:9px;
    -moz-border-radius-topright:9px;
    border-top-right-radius:9px;
    -webkit-border-bottom-right-radius:9px;
    -moz-border-radius-bottomright:9px;
    border-bottom-right-radius:9px;
    -webkit-border-bottom-left-radius:9px;
    -moz-border-radius-bottomleft:9px;
    border-bottom-left-radius:9px;
    text-indent:0;
    border:2px solid #8A1732;
    display:inline-block;
    color:#fff;
    font-family: verdana;
    font-weight:bold;
    font-style:normal;
    text-decoration:none;
    text-align:center;

    /*text-shadow:1px 1px 12px #689324;*/
}

.btn-green, .btn-red
{
    height: 40px;
    margin-left: 19px;
    width: 158px;
    vertical-align: middle;
    font-size:18px;
}
.btn.btn-primary1 {
    background-color: #b20000;
}
.btn.btn-primary1:hover,
.btn.btn-primary1:focus,
.btn-course:focus .btn.btn-primary1.dropdown-toggle {
    background-color: #cc0000;
}
.btn.btn-primary1:active,
.btn-course.open .btn.btn-primary1.dropdown-toggle,
.btn.btn-primary1.active {
    background-color: #16a085;
}
body{
    background-color:none;
    color: none;
    font-family: verdana;
    font-size: none;
    line-height: none;
    margin: none;
    overflow:auto;
    width:100%;
}
.btn.btn-hg, .input-course-hg .btn
{
    line-height:13px;
    color: white;
    font-size: 15px;
    height: 51px;
    width: 233px;
    font-weight: 900;
}

.login-form > .bbf-form{

    height: 191px;
    width: 50%;

}

.login-heading
{
    display: block;
    font-size: 28px;
    margin-left: 35%;
    width: 260px;
}

.login-form
{
    height: 300px;
    margin-left: 35%;
    width: 370px;
}

#olelogo
{
    float: left;
    width: 125px;
    float: left;
    padding-left: 183px;
    padding-top: 31px;
}
#logo
{
    width:50px;
}

.teams_table_heading
{
    font-size: large;
}
.news-table
{
    border: 2px solid #000000;
    margin-left: 30%;
    margin-right: 30%;
    overflow: hidden;
    width: 40%;
    color:white;
    background-color:#1ABC9C;
    border-collapse:collapse;
}
.news-table th
{background-color:#34495E;
    font-weight: bolder;
    height: 40px;
    font-size: 30px;
}
.news-table tr
{
    border-top: 2px dashed #000000;
    font-size: 17px;
    font-weight: 900;
    height: 47px;
    overflow: hidden;
}
.news-table tr
{background-color:#1ABC9C;}

.news-table-td-title
{
    width:50%;
    padding-left: 5%;
}

.news-table-td-link
{
    width:50%;
}

.btn.clickable {
    background-color: #1ABC9C;
    font-size: 19px;
    font-weight: bolder;
    padding-left: 80%;
}


.search-Box
{
    margin-left: 30%;
    margin-top: 3%;
}

.search-bottom-nav
{
    margin-left: 5%;
    overflow: hidden;
    width: 90%;
    margin-right: 5%;
}

.previous-button-container {
    width: 50%;
}
.next-button-container {
    width: 50%;
}
#next_button
{
    width:45%;
    float: right;

}
#previous_button
{
    width:45%;
}
.search-bottom-nav-table {
    width: 100%;
}

.search-box .search-href {
    text-decoration: none;
    color: #1ABC9C;
    background:none;
}

.signup-div {
    margin-top: 26px;
}
.signup-form-button.btn.btn-block.btn-lg.btn-info {
    font-size: 22px;
    font-weight: bold;
    line-height: inherit;
    padding-left: 12%;
    padding-right: 26%;
}

.signup-heading
{margin-left: 30%;
    text-decoration: underline;}

.fc-header-title h2 {
    font-size: 32px;
}
.fc-header-left {
    margin-left: 0px;
    padding-left: 0px;
}
.fc-state-default.fc-corner-left,.fc-state-default.fc-corner-right, .fc-button.fc-button-agendaWeek.fc-state-default  {
    padding: 10px 20px;
}
.fc-event-time, .fc-event-title
{
    font-weight:900;
}
.name > a {
    color: #16A085;
    font-size: 25px;
}
.notification-table th {
    background-color: #34495E;
    color: #FFFFFF;
}
.Course-heading{
    font-size: 24px;
    margin-left: 4%;
    color: #666666;
}
.ui-accordion-header.ui-helper-reset.ui-state-default.ui-accordion-header-active.ui-state-active.ui-corner-top.ui-accordion-icons {
    background-color: #34495E;
    color: #FFFFFF;
}
.ui-accordion-header.ui-helper-reset.ui-state-default.ui-corner-all.ui-accordion-icons {
    background-color: #404040;
    color: #FFFFFF;
}
.ui-accordion .ui-accordion-content {
    padding: 0;
    border-radius: 0 0 10px 10px;
}
.bigheader{
    font-size: 23px;
}
.cidt-pp{
    text-align:right;
}

.signup-form .field-firstName
{
}
.signup-form .field-lastName
{
    margin-top: -51px;
    margin-left: 400px;
}
.signup-form .field-middleNames
{
    position: absolute;
    margin-left: 196px;
    margin-top: -54px;

}
.signup-form .field-login
{
    margin-left: 0%;
    margin-top: 5%;
}
.signup-form .field-password
{
    position: absolute;
    margin-left: 196px;
    margin-top: -53px;
}
.signup-form .field-phone
{
    margin-left : 0%;
    margin-top: 40px;
}
.signup-form .field-email
{
    margin-left: 400px;
    margin-top: -145px;
}
.signup-form .field-language
{
    margin-left: 195px;
    margin-top: 40px;
}
.signup-form .field-BirthDate
{
    margin-left: 400px;
    margin-top: -54px;
}
.signup-form .field-Gender
{
    margin-top: 50px;
}
.signup-form .field-levels
{
    margin-left: 195px;
    margin-top: -41px;
}
.signup-form .field-roles
{
    margin-left: 68%;
    margin-top: -7%;
}
.field-teachingCredentials{
    margin-left: 195px;
    margin-top: -41px;
}
.field-subjectSpecialization
{
    margin-left: 68%;
    margin-top: -7%;
}

#site-feedback{
    background-color: #34495E;
    border-radius: 0 0 20px 20px;
    color: #FFFFFF;
    height: 0;
    margin-left: 15%;
    padding-left: 0;
    position: fixed;
    top: 51px;
    visibility: hidden;
    width: 60%;
    z-index: 10;
}
#site-feedback > .form-field{
    width:93%;
}
#site-feedback fieldset{
    border:none;
    height:100%;
}
#f-formButton{
    margin-left: 10%;
    width: 80%;
}

#f-formButton button{
    float:left;
    margin-left: 1px;
    width: 33%;
}

textarea[name="comment"]
{
    border-radius: 20px;
    height: 100%;
    width: 87%;
}
#site-feedback .bbf-form{
    height: 72%;
}
#site-feedback .bbf-form .bbf-editor{
    height: 72%;
}
#site-feedback ul{
    height:80%;
}
#site-feedback li{
    height:100%;
}


.well
{
    background-color : white;
    width : 25%;
    height : 60%
}
.newEmailDiv
{
    background-color: gray;
    height: 20px;
    color: white;
}
.mailsubject
{
    height: 35px;
    width:98%;
}
.mailrecipients
{
    height: 35px;
    width:98%;
}
.mailbody
{
    height : 57%;
    width:98%;
}
#mailbodytexarea
{
    width: 95%;
    height: 100%;
    margin-top : 2%;
    resize: none;
}
#recipients, #subject
{
    width: 100%;
    height: 100%
}
#browseImage{
    margin-left: 42px;
    overflow: hidden;
    position: absolute;
    border-radius: 84px;
    border: 2px solid #000000;
}
#sync{
    margin-left: 10px;
}
#configbutton{
    margin-left: 5px;
}
#emailCompose_background {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
#emailCompose,
#emailCompose_wrapper {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
#emailCompose {
    -webkit-transform: translateX(0) translateY(-40%);
    -moz-transform: translateX(0) translateY(-40%);
    -ms-transform: translateX(0) translateY(-40%);
    transform: translateX(0) translateY(-40%);
}
.popup_visible #emailCompose {
    -webkit-transform: translateX(0) translateY(0);
    -moz-transform: translateX(0) translateY(0);
    -ms-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
}

#underconstruction {
    height: 400px;
    margin-left: 32%;
    width: 400px;
}