<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Bell LMS</title>
  <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen" />
  <link href="vendor/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" media="screen" />
  <link rel="stylesheet" href="app/app.css"/>

  <!--
    DEPENDENCIES
  -->

  <script src="vendor/jquery-1.7.2.js"></script>
  <script src="vendor/underscore-1.4.4.js"></script>
  <script src="vendor/backbone-1.0.0.js"></script>
  <script src="vendor/backbone-forms.js"></script>
  <script src="/_utils/script/json2.js"></script>
  <script src="/_utils/script/jquery.couch.js?0.8.0"></script>
  <script src="/_utils/script/jquery.form.js?0.9.0"></script>
  <script src="vendor/sha1.js"></script>
  <script src="vendor/jquery.couch.js"></script>
  <script src="vendor/backbone.couchdb.js"></script>
  <script src="vendor/html-encode.js"></script>
  <script src="vendor/jquery.url.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.js"></script>

  <!--
    App
  -->

  <script src="app/App.js"></script>
  <script src="app/Router.js"></script>

  <script src="app/models/Resource.js"></script>
  <script src="app/models/Group.js"></script>

  <script src="app/collections/Groups.js"></script>
  <script src="app/collections/Resources.js"></script>

  <script src="app/views/GroupForm.js"></script>
  <script src="app/views/GroupRow.js"></script>
  <script src="app/views/GroupsTable.js"></script>
  <script src="app/views/ResourceForm.js"></script>
  <script src="app/views/ResourceRow.js"></script>
  <script src="app/views/ResourcesTable.js"></script>

  
</head>

<body>


</body>

  <!-- 
    Templates 
  -->

  <script type="text/template" id="template-ResourcesTable">

    <tr class='header'>

    </tr>

  </script>


  <script type="text/template" id="template-ResourcesTableHeader">

      <td colspan=99 style='padding: 15px'>
        <h3 style='float:left;'>
          Resources in <%= name %>
        </h3>
        <a style='float: left; margin: 16px;' class='btn' href='#collection/resource/add/<%= database %>'> 
          <i class='icon-plus-sign'></i> Create a new Resource
        </a>
      </td>

  </script>


  <script type="text/template" id="template-app">


    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Bell LMS</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Teams <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#teams"><i class="icon-list"></i> List Teams</a></li>
                  <li><a href="#team/add"><i class="icon-plus"></i> Add a new Team</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#resources"><i class="icon-list"></i> List Resources</a></li>
                  <li><a href="#resource/add"><i class="icon-plus"></i> Add a new Resource</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <!-- Body -->
    <div class="container body">
      <!-- Content -->
    </div>
     
  </script>


  <script type="text/template" id="template-nav"> </script>


  <script type="text/template" id="resource-item-template">
      <td style="padding: 20px">
        <%= name %>
      </td>
      <td>
        <a class="btn" href="/hubble/_design/hubble-server/apps/PDFjs2/web/viewer.html#pouch=<%= pouch %>&pouchAttachment=<%= pouchAttachment %>"><i class="icon-eye-open"></i> view</a>
      </td>
      <td>
        <a class="btn download" href="#"><i class="icon-circle-arrow-down"></i> download</a>
      </td>
      <td>
        <a class="btn destroy"> <i class="icon-remove"></i> delete</a></label>
      </td>
  </script>


  <script type="text/html" id="template-GroupRow">
    <td>
      <a role='button' class='btn' href='#group/<%= _id %>'>
        <%= name %>
      </a>
    </td> 
    <td>
      <a class='destroy btn' href='#'>
        <i class='icon-remove'></i> Delete
      </a>
    </td>
  </script>


  <script type="text/html" id="template-ResourceRow">
    <td>
      <%= title %>
    </td> 
    <td>
      <a class='btn' href=#resource/'<%= _id %>'>
        <i class='icon-eye-open'></i> Open
      </a>
    </td>
    <td>
      <a class='btn' href='#resource/edit/<%= _id %>'>
        <i class='icon-pencil'></i> Edit
      </a>
    </td>
    <td>
      <a class='destroy btn' href='#'>
        <i class='icon-remove'></i> Delete
      </a>
    </td>
  </script>



  <!-- 
    START THE APP
  -->

  <script>
    $(document).ready(function() {
      App.start()
    })
  </script>

</html>
