<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>My Library</title>
  <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" href="app/app.css"/>
  <script>
  </script>
  
  <script src="vendor/jquery-2.0.1.js"></script>
  <script src="vendor/purl.js"></script>
  <script src="vendor/underscore.js"></script>
  <script src="vendor/backbone.js"></script>
  <script src="vendor/pouchdb-nightly.js"></script>
  <script src="vendor/backbone-pouch.js"></script>
  <script src="vendor/purl.js"></script>
  <script src="app/App.js"></script>
  <script src="app/Router.js"></script>
  
  <script src="app/models/Resource.js"></script>
  <script src="app/models/Cx.js"></script>
  <script src="app/collections/Cxs.js"></script>
  <script src="app/collections/Resources.js"></script>
  <script src="app/views/Resources.js"></script>
  <script src="app/views/Resource.js"></script>
  <script src="app/views/Cxs.js"></script>
  <script src="app/views/Cx.js"></script>
  
  
  </head>
  
  <body>
  
    <div id="app"> </div>
  
  </body>
  
  <!-- Templates -->
  
  <script type="text/template" id="app-template">

    <div class="header">
      <ul class="nav nav-tabs">
        <li>
          <a href="../remote/index.html">BeLL Collections</a>
        </li>
        <li class="active">
          <a href="../local/index.html">My Collections</a>
        </li>
      </ul>
      <!--a class="btn" href="#sync" style="position: relative; bottom: 60px; float: right;"><i class="icon-retweet"></i> Sync</a-->
    </div> 

    <div class="body"> 

    </div>

  </script>

  <script type="text/template" id="collections-nav-template">

  </script>

  <script type="text/template" id="collection-item-template">
      <td>
        <a href="#collection/<%= id %>"><%= name %></a>
        <a class="destroy"> <i class="icon-remove"></i></a>
      </td>
  </script>

  <script type="text/template" id="resource-item-template">
    
    <td style="padding: 20px">
      <%= name %>
    </td>
    <td>
      <a class="btn" href="/hubble/_design/hubble-remote/apps/PDFjs2/web/viewer.html#pouch=<%= pouch %>&pouchAttachment=<%= pouchAttachment %>"><i class="icon-eye-open"></i> view</a>
    </td>
    <td>
      <a class="btn download" href="#"><i class="icon-circle-arrow-down"></i> download</a>
    </td>
    <td>
      <a class="btn destroy"> <i class="icon-remove"></i> delete</a></label>
    </td>
    
  </script>

  <script>
    $(document).ready(function() { 
      App.start()
    }) 
  </script>

</html>
