.addNation-form{width:800px;margin:0 auto}
.heading{padding:10px;font-size:17px;color:white;font-family:verdana}
.publicationFont{margin-left: 15px;}
.heading a{font-size:18px;color:white;text-decoration:none}
#addNation-heading{width:100%;height:50px;background-color:#235279}
#listcommunity-head,#listRequest-head,#listPublication-head{width:100%;height:60px;background-color:#235279}
#addComm{margin-left:200px}
#nationForm-container{background-color:#fff}
#top-from{padding:1%;background-color:#d8d8d8}
#top-from input{height:30px;width:350px;border:1px solid gray;border-radius:5px}
.middle-from{padding:1%;margin:0 3%;background-color:#e7e7e7}
.middle-from input{height:20px;width:217px;padding-top:10px;border-radius:5px;border:1px solid gray}
.form-field{padding-top:5px;padding-left:10px;display:inline-block}
#urgent-from{height:50px;margin:0 3%;background-color:#fedada}
#urgent-from input{height:30px;width:330px;border-radius:5px;border:1px solid gray}
#Authorized-from{height:50px;margin:0 3%;background-color:#fedada}
#Authorized-from input{height:30px;width:330px;border-radius:5px;border:1px solid gray}
.submit-button{float:right;margin:3%}
.login-input{padding:5px;margin-left:70%;clear:both}
.login-input input{width:200px;border:1px solid gray;border-radius:5px;height:30px;display:block}
