<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Bell LMS</title>
  
  <link href="vendor/spectrum.css" rel="stylesheet" media="screen" />
  <link href="vendor/morris.css" rel="stylesheet" media="screen" />

  <link rel="stylesheet" href="app/app.css"/>
  <link rel="stylesheet" href="app/navStyle.css"/>
  
  <link rel="stylesheet" href="app/flat-ui.css"/>
  <link rel="stylesheet" href="app/Home.css"/>
  <link rel="stylesheet" href="app/jqueryui.css"/>
  <link rel="stylesheet" href="app/morris.css"/>
  <link rel="stylesheet" href="app/tabl.css"/>
  
  <link rel="stylesheet" href="vendor/jquery.timepicker.css"/>
  <link rel="stylesheet" href="vendor/jquery-ui-1.10.3.custom.css"/>
  <link rel="stylesheet" href="vendor/backbone-ui.css"/>
  
  
  <link rel="stylesheet" href="vendor/jQuery-multiselect/jquery.multiselect.filter.css"/>
  <link rel="stylesheet" href="vendor/jQuery-multiselect/jquery.multiselect.css"/>
   
  <!--
    DEPENDENCIES
  -->
  
  <script src="vendor/jquery-1.7.2.js"></script>
  <script src="app/raphael.js"></script>
  <script src="vendor/jquery-ui.js"></script>
  <script src="vendor/pouchdb-nightly.js"></script>
  <script src="vendor/jquery-ui.custom.min.js"></script>
  <script src="vendor/fullcalendar.min.js"></script>
  <script src="app/morris.js"></script>
  <script src="vendor/jquery.timepicker.js"></script>
  <script src="vendor/Spin.js"></script>
  <script src="vendor/spectrum.js"></script>
  <script src="vendor/underscore-1.4.4.js"></script>
  <script src="vendor/backbone-1.0.0.js"></script>
  <script src="vendor/backbone-ui.js"></script>
  <script src="vendor/backbone-forms.js"></script>
  <script src="/_utils/script/json2.js"></script>
  <script src="/_utils/script/jquery.couch.js?0.8.0"></script>
  <script src="vendor/jquery.form.js"></script>
  <script src="vendor/sha1.js"></script>
  <script src="vendor/moment.min.js"></script>
  <script src="vendor/jquery.couch.js"></script>
  <script src="vendor/jquery.cookie.js"></script>
  <script src="vendor/backbone.couchdb.js"></script>
  <script src="vendor/html-encode.js"></script>
  <script src="vendor/jquery.url.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.js"></script>
  <script src="vendor/jquery.raty.js"></script>
  <script src="vendor/raphael.js"></script>
  <script src="vendor/morris.js"></script>
  <script src="vendor/jquery-ui-1.10.3.custom.js"></script>
  <script src="vendor/jquery-ui.multidatespicker.js"></script>
  <script src="jquery.popupoverlay.js"></script>
  <script src="vender/moment.min.js"></script>
  <script src="vendor/jQuery-multiselect/jquery.multiselect.js"></script>
  <script src="vendor/jQuery-multiselect/jquery.multiselect.filter.js"></script>

   <!-- html-templates -->
  <link rel="text" href="app/templates/templates.txt"/>
  
  <!-- App -->
  <script src="app/App.js"></script>
  
  <!-- App-Router -->
  <script src="app/Router.js"></script>
 
  <!-- app-models -->
  <script src="app/models/Credentials.js"></script>
  <script src="app/models/Member.js"></script>
  <script src="app/models/Configuration.js"></script>
  
  <!-- App Collection  -->
  <script src="app/collections/Configurations.js"></script>
  

   <!-- app-Views -->
  <script src="app/views/MemberLoginForm.js"></script>
  <script src="app/views/navBarView.js"></script>
  

  <script type='text/template' id='template-app'>
 	 <div id="emailCompose" class="well" style="display: none;">

		<div class="newEmailDiv">&nbsp;&nbsp;New Message</div>
		<div class="mailrecipients"><input type="text" placeholder="Recipients" id="recipients"/></div>
		<div class="mailsubject"><input type="text" placeholder="Subject" id="subject" /></div>
		<div class="mailbody">
			<textarea id="mailbodytexarea" name="mailbodytexarea"></textarea><br/>
			<button class="emailCompose_close btn btn-default">Close</button>
			<button class="emailCompose_send btn btn-primary" onClick="sendMail()">Send</button>
		</div>

     </div>
  
    <div class="takeQuizDiv" id="tQuizDiv"></div>
    <div id="externalDiv"></div>
    <div id="debug"></div>
    <div id="popup-spinning"></div>
    <div id="invitationSuperDiv">
  	 	<div id="invitationdiv"></div>
    </div>

    <div id='nav' class="navbar navbar-inverse" id="top-nav">
        <div class="container"></div> 
    </div>
	
    <!-- Body -->
   
    <div class="container body" id="main-body">
      <!-- Content -->
    </div>
</script>
<script type="text/template" id="template-nav-logged-in"> 
  <!--  <li> 
      <a href="../lms/index.html#login">
         Community
      </a>
    </li>
   -->
    <li> 
      <a href="#">
      <%= languageDict['Dashboard'] %>
      </a>
    </li> 
    <li> 
      <a href="#ereader">
      <%= languageDict['e-Readers'] %>
      </a>
    </li>
    <li> 
      <a href="../lms/index.html#resources">
      <%= languageDict['Library'] %>
      </a>
    </li>
     <li> 
      <a href="../lms/index.html#courses">
      <%= languageDict['Courses'] %>
      </a>
    </li>
    <li> 
      <a href="../lms/index.html#meetups">
      <%= languageDict['Meetups'] %>
      </a>
    </li>
     <li> 
      <a href="../lms/index.html#members">
      <%= languageDict['Members'] %>
      </a>
    </li>
    <li> 
      <a href="../lms/index.html#reports">
      <%= languageDict['Reports'] %>
      </a>
    </li> 
     <li> 
      <a onclick = "showFeedbackForm()">
      <%= languageDict['Feedback'] %>
      </a>
    </li>
    <li> 
      <a href= "#logout">
      <%= languageDict['Logout'] %>
      </a>
    </li>	
  </script>

<script type="text/template" id="template-nav-log-in"> 
    <li> 
      <a href="#login">
      My Home - v<%=versionNO%>
      </a>
    </li>   
    <li> 
      <a onclick = "showFeedbackForm()">
        Feedback
      </a>
    </li>
    
  </script>


</head>

<body>
</body>

  <!-- 
    START THE APP
  -->

 <script>
    $(document).ready(function() {
      App.start()
    })
 </script>

</html>
