<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>BeLL</title>
  <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" href="app.css"/>

  <!--
    DEPENDENCIES
  -->

  <script src="vendor/jquery-1.7.2.js"></script>
  <script src="vendor/underscore-1.4.4.js"></script>
  <script src="vendor/backbone-1.0.0.js"></script>
  <script src="vendor/backbone-forms.js"></script>
  <script src="vendor/jquery-ui-1.10.2.custom/js/jquery-ui-1.10.2.custom.js"></script>
  <script src="/_utils/script/json2.js"></script>
  <script src="/_utils/script/jquery.couch.js?0.8.0"></script>
  <script src="/_utils/script/jquery.form.js?0.9.0"></script>
  <script src="vendor/sha1.js"></script>
  <script src="vendor/jquery.couch.js"></script>
  <script src="vendor/backbone.couchdb.js"></script>
  <script src="vendor/html-encode.js"></script>
  <script src="vendor/jquery.url.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.js"></script>

  <!--
    App
  -->

  <script src="App.js"></script>
  <script src="Router.js"></script>

  <script src="app/models/Resource.js"></script>
  <script src="app/models/Collection.js"></script>

  <script src="app/collections/Collections.js"></script>
  <script src="app/collections/Resources.js"></script>

  <script src="app/views/CollectionForm.js"></script>
  <script src="app/views/CollectionRow.js"></script>
  <script src="app/views/CollectionsTable.js"></script>
  <script src="app/views/ResourceForm.js"></script>
  <script src="app/views/ResourceRow.js"></script>
  <script src="app/views/ResourcesTable.js"></script>
  <script src="app/views/ResourceSendTable.js"></script>
  <script src="app/views/ResourceSendRow.js"></script>

  
</head>

<body>


</body>

  <!-- 
    Templates 
  -->

  <script type="text/template" id="template-ResourcesTable">

    <tr class='header'>

    </tr>

  </script>


  <script type="text/template" id="template-ResourcesTableHeader">

      <td colspan=99 style='padding: 15px'>
        <h3 style='float:left;'>
          Resources in <%= name %>
        </h3>
        <a style='float: left; margin: 16px;' class='btn' href='#collection/resource/add/<%= db %>'> 
          <i class='icon-plus-sign'></i> Create a new Resource
        </a>
      </td>

  </script>


  <script type="text/template" id="template-app">

    <div id="header">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#collections">BeLL Collections</a>
        </li>
        <li>
          <a href="/hubble/_design/hubble-local/index.html">My Collections</a>
        </li>
      </ul>
      <a style='position: relative; bottom: 60px; float: right;' class='btn' href='#collection/add'> 
        <i class='icon-plus-sign'></i> Create a new Collection
      </a>
    </div>

    <!-- Body -->
    <div id="body">
      <!-- Content -->
    </div>
     
    <!-- Modal -->
    <div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" aria-hidden="true">×</button>
      </div>
      <div class='content'>
        <!-- Content -->
      </div>
    </div>
  </script>


  <script type="text/template" id="template-nav">

  </script>


  <script type="text/template" id="collection-item-template">
    <div class="view">
    <label><a href="#collection/<%= url %>"><%= name %></a><a class="destroy"> <i class="icon-remove"></i></a></label>
    </div>
  </script>


  <script type="text/template" id="resource-item-template">
    
      <td style="padding: 20px">
        <%= name %>
      </td>
      <td>
        <a class="btn" href="/hubble/_design/hubble-remote/apps/PDFjs2/web/viewer.html#pouch=<%= pouch %>&pouchAttachment=<%= pouchAttachment %>"><i class="icon-eye-open"></i> view</a>
      </td>
      <td>
        <a class="btn download" href="#"><i class="icon-circle-arrow-down"></i> download</a>
      </td>
      <td>
        <a class="btn destroy"> <i class="icon-remove"></i> delete</a></label>
      </td>
    
  </script>


  <script type="text/html" id="template-CollectionRow">
    <td>
      <%= name %>
    </td> 
    <td>
      <a href='<%= sendToDevice %>' class='btn'>
        <i class='icon-circle-arrow-down'></i> send to device
      </a>
    </td>  
    <td>
      <a role='button' class='btn' href='#collection/resources/<%= database %>'>
        <i class='icon-list'></i> Resources 
      </a>
    </td> 
    <td>
      <a class='btn' href='#info/collection/<%= _id %>'><i class='icon-pencil'>
        </i> Info
      </a>
    </td> 
    <td>
      <a class='destroy btn' href='#'>
        <i class='icon-remove'></i> Delete
      </a>
    </td>

  </script>


  <script type="text/html" id="template-ResourceRow">

    <td>
      <%= name %>
    </td> 
    <td>
      <a class='btn' href='<%= openWith %>'>
        <i class='icon-eye-open'></i> Open
      </a>
    </td>
    <td>
      <a class='btn' href='<%= sendTo %>'>
        <i class="icon-share"></i> Send to a Collection
      </a>
    </td> 
    <td>
      <a class='btn' href='edit-couch-document.html?id=<%= id %>'>
        <i class='icon-pencil'></i> Edit
      </a>
    </td>
    <td>
      <a class='destroy btn' href='#'>
        <i class='icon-remove'></i> Delete
      </a>
    </td>

  </script>



  <!-- 
    START THE APP
  -->

  <script>
    $(document).ready(function() {
      App.start()
    })
  </script>

</html>
