.table-striped{
	
	text-align:center;
	 width:550px;
  	font:verdana;
  		margin-left: 5%;
	width: 90%;
	margin-right: 5%;
	border-collapse: collapse;
	table-layout: fixed; 
	border:1px solid black;
	color:#345474;
	font-family:verdana;
}

.table-striped td{
	font-size:21px;
	color : 00235E;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	word-wrap: break-word;
}
.table-striped tr{
	line-height: 52px;
}
.table-striped a{
	background: #1ABC9C;
	font-weight: 800;
}
.inner-table{
	table-layout: fixed; 
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	border-collapse:collapse;
}


.table-striped h6
 {background-color: #34495E;
 line-height: 60px;
 margin: 0px;
 color:white;
 text-align: center;
 text-decoration: none;
 font-weight: bold;
 }
 .table-striped th
 {
	padding: 0px;
	
 }
.table-striped tr:nth-child(even) td {
    background-color: white;
}
.table-striped tr:nth-child(odd) td{
    background-color: #EDEFF1;
}

.inner-table td{
font-family: verdana;
  font-weight:bold;
  text-align:center;
  vertical-align: middle;
  width:112px;
  height:100%;
  font:verdana;
  color:white;

}
.inner-table td a{
    color: #FFFFFF;
    font-family: verdana;
    font-weight: bold;
    text-align: center;
    text-decoration: none;;
	height: 27%;
	padding-top: 5%;
    display: block;
    word-wrap: inherit;
}

.inner {
  overflow-x:auto;
  width:811px;
  height: 89px;
}
.shelf-box
{
background-color: #7d609e;
border-right: 2px solid white;
font-family: verdana;
word-wrap:break-word;
}
.inner-table > .shelf-box > a{
   padding-top: 4%;
}
.course-box
{
background-color: #3f75a3;
border-right: 2px solid white;
font-family: verdana;
word-wrap:break-word;
}

.badge-box
{
background-color: #2f816f;
border-right: 2px solid white;
word-wrap:break-word;
}
.displayCourse{
	height:100%;
}

.login-form-button, .btn.btn-success
{
	display: block;
    font-size: 27px;
    font-weight: bold;
    padding-left: 35%;
    margin-top: 9px;
    background-color: #1ABC9C;
}
.btn.btn-success.addtoshelf{
    font-size: 15px;
    padding-left: 10%;
    margin-top: 9px;
    display: inline;
    padding-right: 10%;	
}
.login-form > .bbf-form > fieldset
{
    border: none;
    border: medium none;
    height: 182px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 346px;
    color:white;
    background-color: #34495E;
}
bbf-form ul{border: 5px solid dotted;}

.login-form .field-login label, .login-form .field-password label
{font-size: 22px;}

.login-form .field-login .bbf-editor input[name="login"],.login-form .field-password .bbf-editor input[name="password"] 
{
    height: 30px;
    width: 243px;
}
.page-bottom-navtable td
{
	width: 40px;
	border 2px solid red;
}
.signup-form > .bbf-form{
    background-color: #34495E;
    border-radius: 20px 20px 20px 20px;
}
.signup-form {
	margin-left: 20%;
	margin-right: 20%;
	width: 60%;
}
.signup-form fieldset {
    border: medium none;
}

.signup-form .bbf-editor  input {
    height: 25px;
}

.signup-form .bbf-error  {
    color:red;
}
.bbf-field label
{color:white;}

.signup-submit {
    margin-top: 12px;
}
.signup-btn.btn {
    background-color: #1ABC9C;
    font-size: 22px;
    font-weight: bolder;
    margin-left: 1%;
    padding-left: 40%;
    padding-right: 40%;
}



.fc-header{
	float:left;	
}

#addEvent{
	padding-bottom: 20px;
    padding-top: 20px;
}

.addEvent-btn.btn.btn-success{
	padding-bottom: 15px;
    padding-top: 15px;
margin-top:-10px;
}

.resourceDetail{
	width: 50%;
}

.btn.open.btn-success {
    padding-left: 0;
    width: 70%;
}
.table.assignmenttable
{width:50%;
	
}
.table.assignmenttable th
{background-color: #34495E;
   color: #FFFFFF;}

.table.assignmenttable td a
{margin-left: 5%;
	font-size: 21px;
}
#star {
    padding-left: 22px;
    width: 500px !important;
}

.feedback_form label{
	color:black;
}

.feedback_form fieldset{
	border:none;
}
.feedback_form .bbf-editor > input
{ width: 20%;}