body { 
  background: black;
}

.fp-ui { 
 /* display: none; */
}

.player .fp-cuepoint { 
  display: none; 
}

.current-page, .previous-page, .next-page {
  height: 100px;
  display: inline-block;
  font-size: 80px;
  color: white;
  width: 33%;
}

.current-page {
  background: black;
  font-size: 20px;
}

.previous-page {
  float: left;
  background: red;
}

.next-page {
  float:right;
  background: green;
}

.page-number {
  margin-top: 15px;
}

.page-number h2 {
  margin: 5px 0 0 0;
}
