<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Personal BeLL</title>
  <link rel="stylesheet" href="app/flat-ui.css"/>
  <link rel="stylesheet" href="app/Home.css"/>
  <link rel="stylesheet" href="app/tabl.css"/>
  <link rel="stylesheet" href="app/fullcalendar.css"/>

<!--
    DEPENDENCIES
  -->
 
  <script src="vendor/jquery-1.7.2.js"></script>
  <script src="vendor/jquery.cookie.js"></script>
  <script src="vendor/pouchdb-nightly.js"></script>
  <script src="vendor/underscore-1.4.4.js"></script>
  <script src="vendor/backbone-1.0.0.js"></script>
  <script src="vendor/backbone-forms.js"></script>
  <script src="vendor/backbone-pouch.js"></script>
  <script src="/_utils/script/json2.js"></script>
  <script src="/_utils/script/jquery.couch.js?0.8.0"></script>
  <script src="/_utils/script/jquery.form.js?0.9.0"></script>
  <script src="vendor/sha1.js"></script>
  <script src="vendor/jquery.couch.js"></script>
  <script src="vendor/backbone.couchdb.js"></script>
  <script src="vendor/html-encode.js"></script>
  <script src="vendor/jquery.url.js"></script>
  <script src="vendor/moment.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.js"></script>
  <script src="vendor/jquery.raty.js"></script>
  <script src="vendor/jquery-ui.custom.min.js"></script>
  <script src="vendor/fullcalendar.min.js"></script>

  <!--
    App
  -->

  <script src="app/App.js"></script>
  <script src="app/Router.js"></script>

  <script src="app/models/Resource.js"></script>
  <script src="app/models/Group.js"></script>
  <script src="app/models/Assignment.js"></script>
  <script src="app/models/Member.js"></script>
  <script src="app/models/Credentials.js"></script>
  <script src="app/models/Feedback.js"></script>
  <script src="app/models/Shelf.js"></script>
  <script src="app/models/Calendar.js"></script>

  <script src="app/collections/Groups.js"></script>
  <script src="app/collections/MemberGroups.js"></script>
  <script src="app/collections/GroupAssignments.js"></script>
  <script src="app/collections/NewsResources.js"></script>
  <script src="app/collections/Members.js"></script>
  <script src="app/collections/SearchResource.js"></script>
  <script src="app/collections/Calendars.js"></script>
  
  
  <script src="app/views/GroupRow.js"></script>
  <script src="app/views/GroupsTable.js"></script>
  <script src="app/views/MemberForm.js"></script>
  <script src="app/views/GroupsSpans.js"></script>
  <script src="app/views/GroupSpan.js"></script>
  <script src="app/views/GroupAssignmentsTable.js"></script>
  <script src="app/views/AssignmentRow.js"></script>
  <script src="app/views/MemberForm.js"></script>
  <script src="app/views/MemberLoginForm.js"></script>
  <script src="app/views/FeedbackForm.js"></script>
  <script src="app/views/Dashboard.js"></script>
  <script src="app/views/ResourcesTable.js"></script>
  <script src="app/views/ResourceRow.js"></script>
  <script src="app/views/ArticleTableRow.js"></script>              
  <script src="app/views/ArticleTable.js"></script>
  <script src="app/views/Search.js"></script>
  <script src="app/views/SearchSpan.js"></script>
  <script src="app/views/SearchSpans.js"></script>
  <script src="app/views/ShelfSpans.js"></script>
  <script src="app/views/ResourcesDetail.js"></script>
  <script src="app/views/CalendarForm.js"></script>
  

  <!-- 
    Templates 
  -->
<script>
var searchText = "";
var skip = 0;    //Variable used to skip the number of records been fetched before.
var enablenext=0;
var searchRecordsPerPage = 2;
var limitofRecords = 5;
var skipStack = new Array()
var lastpage = false
function searchResources()
{
	skip = 0;
        popAll();
	lastpage = false;
        App.Router.SearchResult();
         $('#previous_button').remove()
	$('#searchText').focus();
	$("#searchText").val(searchText)
}
function popAll()
{
      while(skipStack.length > 0 )
      {
            skipStack.pop();        
      }
}
function nextPageButtonPressed()
{
    App.Router.SearchResult();
    $("#searchText").val(searchText);
}
function previousPageButtonPressed(){
      
        if(skipStack.length > 1)
        {
          skipStack.pop();
          skip = skipStack.pop();
          App.Router.SearchResult();
          $("#searchText").val(searchText);
        }
        else
        {
             $('#previous_button').remove()
        }
}

function onFocus(obj) { 
var end = obj.value.length; 
if(obj.setSelectionRange) 
obj.setSelectionRange(end, end); 
}
</script>


  <script type="text/template" id="template-app">
    <div id="debug"></div>
    
  <div class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
  </div>    
  <div class="navbar-collapse collapse" id="nav-collapse-01">
    <ul class="nav" id="itemsinnavbar">
    
    </ul>     
  </div>      
</div>
    <div id="logo">
    </div>
    <!-- Body -->
    <div class="container body">
      <!-- Content -->
    </div>
     
  </script>
   <script type="text/template" id="template-logoimg">
   <img id="olelogo" src="img/ole.png">
   
   </script>
   
   


   <script type="text/html" id="template-ResourceRow">
    <td class="news-table-td-title">
      <% if(author){ %>
            <%= author.toLowerCase() %>
      <% }
      else { %>
           No Author Defined
    <%}%>
</td>
<td class="news-table-td-link">
      <a role='button' class='btn clickable' href='#newsfeed/<%= author.toLowerCase() %>'> 
          >
      </a>
    </td>
  </script>
  



  <script type="text/html" id="template-ArticleRow">
    <td class="news-table-td-title">
      <%
          newdate = new Date(articleDate)
        
      %>
      <%= newdate.toDateString() %>
    </td> 

    <td class="news-table-td-link">
      <a role='button' class='btn clickable' href='/apps/_design/bell/bell-resource-router/index.html#open/<%= _id %>' target="_blank"> 
        >
      </a>
    </td>
    
  </script>
 
<script type="text/html" id="calendar-Template">
		<style>
			body {
				margin-top: 40px;
				text-align: center;
				font-size: 14px;
				font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
				}

			#calendar {
				width: 900px;
				margin: 0 auto;
				}

		</style>
	<div id='calendar'></div>
		
	
</script>


  <script type="text/template" id="template-nav-logged-in"> 
    <li> 
      <a href="#dashboard">
        <i class="icon-home icon-white"></i> Dashboard
      </a>
    </li> 

    <li> 
      <a class="fui-lock" href="#logout">
        <i class="icon-plane icon-white"></i> Exit
      </a>
    </li>

    <li id="application-cache-status" style="display:none;"> 
      <a href="#"  style="color:red">
        <i class="icon-download icon-white"></i> Resources are downloading...
      </a>
    </li>
  </script>

  <script type="text/template" id="template-nav-log-in"> 
    <li> 
      <a href="#update-assignments">
        <i class="icon-download-alt icon-white"></i> Install BeLL Apps on this device
      </a>
    </li>
    <li id="application-cache-status" style="display:none"> 
      <a href="#"  style="color:red">
        <i class="icon-download icon-white"></i> Resources are downloading...
      </a>
    </li>
  </script>

  <script type="text/html" id="template-GroupAssignmentsTable">
    <h1> 
      Assignments for <%= groupName %>
    </h1>
    <table class="table table-striped assignmenttable">
    </table>
  </script>

  <script type="text/html" id="template-AssignmentRow">
    <td>
      <%= resource.title %>
    </td>
    <td>
      <a class='btn open' href='/apps/_design/bell/bell-resource-router/index.html#open/<%= resource._id %>' target="_blank">
        <i class='icon-eye-open'></i> Open
      </a>
    </td>
    <td>
      <a class='btn open' href='/apps/_design/bell/bell-resource-router/index.html#download/<%= resource._id %>' target="_blank">
        <i class='icon-download'></i> Download
      </a>
    </td>

  </script>

  <script type="text/html" id="template-GroupRow">
    <td>
      <%= name %>
    </td> 

    <td>
      <a role='button' class='btn' href='#course/assign/<%= _id %>'> 
        <i class='icon-list'></i> Assignments
      </a>
    </td>
  </script>

  <script type="text/html" id="template-GroupSpan">
      <div class="displayCourse" style='background-color:<%= backgroundColor %>;'> 
        <a href='#course/assign/<%= _id %>' style=' color:<%= foregroundColor %>; '> 
          <%= name %>
        </a>
     </div>
  </script>

<script type="text/html" id="template-ShelfSpan">
      <div class="displayCourse"> 
        <a href='#resources/detail/<%= _id %>'> 
           <%= title %>
        </a>
     </div>
</script>

<script type="text/html" id="template-Search">
<div id="search">
<div class="row">
    <div class="col-lg-5">
        <div class="form-group search-Box">
            <input class="form-control" type="text" placeholder="Search" value="" size="30" id="searchText" style="height:24px;"></input>
            <span><button class="btn btn-info" onclick = "searchResources()">Search</button></span>
        </div>
    </div>
</div>
<div id="not-found" style="color:red; margin-left:34%; font-size:20px;"></div>
</div>
<br><br><br>
<table id="srch" class="table table-striped">
	<tr>
		<th><h6>Title</h6></th>
		<th><h6>Subject</h6></th>
		<th><h6>Author</h6></th>
		<th><h6>Tag</h6></th>
                <th><h6>Shelf</h6></th>
        </tr>
</table>

		    <div class="search-bottom-nav">
                    <table class="search-bottom-nav-table">
                       <tr>
                          <td class="previous-button-container">
                               <button class="btn btn-hg btn-primary" id="previous_button" onclick = "previousPageButtonPressed()"><  Previous</button>
                          </td>  
                          <td class="next-button-container">
                               <button class="btn btn-hg btn-primary" id="next_button" onclick = "nextPageButtonPressed()">Next  ></button>
 
                          </td>
                        </tr>
                    </table>
                    </div>
</script>



 <script type="text/html" id="template-Search-box">
    <td><%= title %></td><td><%= subject %></td><td><%= author %></td><td><%= Tag %></td>
  </script>

 <script type="text/html" id="template-Dashboard">
    <div id="dashboard">
       <div id="page-header">
		<img id="header-image" src="img/OLE_Home_Resized_Header.png" />
	<div style="margin-left:23px;margin-top:-122px;position:absolute; z-index:-1">
		 <img src="img/agnes.jpeg" width="108px" height="108px" />
	</div>
	<div style="width:100%;height:100%;margin-left:145px;margin-top:-122px;font-size:25px;">
		Welcome,
		<br>
		<span class="name" style="font-size:33px;font-famity:verdana;"></span>
		<div class="now" style="font-size:16px;margin-top:-2px;margin-left:530px;"></div>
		<div style="margin-top:-76px;margin-left:605px;position:absolute;font-size:17px;"> 07 </div>
		<div style="margin-top:-76px;margin-left:742px;position:absolute;font-size:17px;"> 15 </div>
	</div>
    </div>	

      <div id="page-body">
        <table class="stu-nav-table">
          <tr class="stu-nav-tube">
            <td class="stu-nav-title">
              My Courses
            </td>
            <td class="scrollable-courses">      
		<div class="inner">
		    <table id="cc" class="inner-table">
                    </table>
                  </div>
             </td>     
          <td class="stu-nav-option-empty"></td>
          </tr>
          <tr class="stu-nav-tube">
					<td class="stu-nav-title-shelf stu-nav-title">My Shelf</td>
					<td class="scrollable-shelf">      <!-- SCROLLABLE DIV-->
					<div class="inner">
						<table id="ur" class="inner-table" >
							
						</table>
						</div>
					</td>
					<td class="stu-nav-option-empty"></td>
	  </tr>
			<tr class="stu-nav-tube">
					<td class="stu-nav-title-badges stu-nav-title">My Badges</td>
					<td class="scrollable-badges">      <!-- SCROLLABLE DIV-->
					<div class="inner">
						<table class="inner-table">
							<tr>
								<td class="badge-box">
									Match Achievement
								</td>
								<td class="badge-box">
									Community Project
								</td>
								
								
								
							</tr>
						</table>
					</div>
					</td>
					<td class="stu-nav-option-empty"></td>
			</tr>
			</table>
			
				
		</div>
	
      
		<table class="page-bottom-navtable">
			<tr>
			
				<td><button class="btn btn-hg btn-primary">Learning Goals</button></td>
				<td><button class="btn btn-hg btn-primary"  onclick = "document.location.href='#calendar'">Calender</button></td> 
				<td><button class="btn btn-hg btn-primary" onclick = "document.location.href='#newsfeed'">News Feed</button></td>
				<td><button class="btn btn-hg btn-primary" onclick = "document.location.href='#search-bell'">Search Bell</button></td>
				<td><button class="btn btn-hg btn-primary">Email</button></td>
				<td><button class="btn btn-hg btn-primary1" onclick = "document.location.href='#logout'">Exit</button></td>
			</tr>
			</table> 
		</div>
            </div>
  </script>

</head>

<body>

</body>

  <!-- 
    START THE APP
  -->

  <script>
    $(document).ready(function() {
      App.start()
    })
  </script>

</html>
