<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Personal BeLL</title>
  <link rel="stylesheet" href="app/flat-ui.css"/>
  <link rel="stylesheet" href="app/fullcalendar.css"/>
    <link rel="stylesheet" href="app/morris.css"/>
    <link rel="stylesheet" href="app/jqueryui.css" />
    <link rel="stylesheet" href="app/Home.css"/>
  <link rel="stylesheet" href="app/tabl.css"/>
  <link rel="stylesheet" href="vendor/jquery.timepicker.css"/>
   

<!--
    DEPENDENCIES
  -->
  <script src="app/raphael.js"></script>
  <script src="vendor/jquery-1.7.2.js"></script>
  <script src="vendor/jquery-ui.js"></script>
  <script src="vendor/jquery.cookie.js"></script>
  <script src="vendor/pouchdb-nightly.js"></script>
  <script src="vendor/underscore-1.4.4.js"></script>
  <script src="vendor/backbone-1.0.0.js"></script>
  <script src="vendor/backbone-forms.js"></script>
  <script src="vendor/backbone-pouch.js"></script>
  <script src="/_utils/script/json2.js"></script>
  <script src="/_utils/script/jquery.couch.js?0.8.0"></script>
  <script src="vendor/jquery.form.js"></script>
  <script src="vendor/sha1.js"></script>
  <script src="vendor/jquery.couch.js"></script>
  <script src="vendor/backbone.couchdb.js"></script>
  <script src="vendor/html-encode.js"></script>
  <script src="vendor/jquery.url.js"></script>
  <script src="vendor/moment.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.js"></script>
  <script src="vendor/jquery.raty.js"></script>
  <script src="vendor/jquery-ui.custom.min.js"></script>
  <script src="vendor/fullcalendar.min.js"></script>
  <script src="app/morris.js"></script>
  <script src="vendor/jquery.timepicker.js"></script>
  

  <!--
    App
  -->

  <script src="app/App.js"></script>
  <script src="app/Router.js"></script>

  <script src="app/models/Resource.js"></script>
  <script src="app/models/Group.js"></script>
  <script src="app/models/Assignment.js"></script>
  <script src="app/models/Member.js"></script>
  <script src="app/models/Credentials.js"></script>
  <script src="app/models/Feedback.js"></script>
  <script src="app/models/Shelf.js"></script>
  <script src="app/models/Calendar.js"></script>
  <script src="app/models/CourseStep.js"></script>
  <script src="app/models/report.js"></script>
  <script src="app/models/Mail.js"></script>
  <script src="app/models/membercourseprogress.js"></script>
  <script src="app/models/reportComment.js"></script>
  <script src="app/models/CourseSchedule.js"></script>
  <script src="app/models/CommunityCode.js"></script>
  <script src="app/models/AssignmentPaper.js"></script>
  <script src="app/models/UserMeetup.js"></script>
  <script src="app/models/MeetUp.js"></script>
  <script src="app/models/ReleaseNotes.js"></script>
  <script src="app/models/Configuration.js"></script>
  
  
  <script src="app/collections/Groups.js"></script>
  <script src="app/collections/coursesteps.js"></script>
  <script src="app/collections/MemberGroups.js"></script>
  <script src="app/collections/GroupAssignments.js"></script>
  <script src="app/collections/NewsResources.js"></script>
  <script src="app/collections/Members.js"></script>
  <script src="app/collections/SearchResource.js"></script>
  <script src="app/collections/Calendars.js"></script>
  <script src="app/collections/siteFeedbacks.js"></script>
  <script src="app/collections/membercourseprogresses.js"></script>
  <script src="app/collections/memberprogressallcourses.js"></script>
  <script src="app/collections/AllInviteMember.js"></script>
  <script src="app/collections/Mails.js"></script>
  <script src="app/collections/MailUnopened.js"></script>
  <script src="app/collections/courseprogressallmembers.js"></script>
  <script src="app/collections/ScriptCollection.js"></script>
  <script src="app/collections/reportsComment.js"></script>

  <script src="app/collections/CourseScheduleByCourse.js"></script>
  <script src="app/collections/ScriptCollection.js"></script>
  <script src="app/collections/CommunityCode.js"></script>
  <script src="app/collections/shelfResource.js"></script>
  <script src="app/collections/UserMeetups.js"></script>
  <script src="app/collections/Configurations.js"></script>

  <script src="app/views/GroupRow.js"></script>
  <script src="app/views/GroupsTable.js"></script>
  <script src="app/views/MemberForm.js"></script>
  <script src="app/views/GroupsSpans.js"></script>
  <script src="app/views/GroupSpan.js"></script>
  <script src="app/views/GroupAssignmentsTable.js"></script>
  <script src="app/views/AssignmentRow.js"></script>
  <script src="app/views/MemberForm.js"></script>
  <script src="app/views/MemberLoginForm.js"></script>
  <script src="app/views/FeedbackForm.js"></script>
  <script src="app/views/Dashboard.js"></script>
  <script src="app/views/ResourcesTable.js"></script>
  <script src="app/views/ResourceRow.js"></script>
  <script src="app/views/ArticleTableRow.js"></script>              
  <script src="app/views/ArticleTable.js"></script>
  <script src="app/views/Search.js"></script>
  <script src="app/views/SearchSpan.js"></script>
  <script src="app/views/SearchSpans.js"></script>
  <script src="app/views/ShelfSpans.js"></script>
  <script src="app/views/ResourcesDetail.js"></script>
  <script src="app/views/CalendarForm.js"></script>
  <script src="app/views/CourseLevelsTable.js"></script>
  <script src="app/views/navBarView.js"></script>
  <script src="app/views/siteFeedback.js"></script>
   <script src="app/views/CoursesChartProgress.js"></script>
  <script src="app/views/takeQuizView.js"></script>
  <script src="app/views/siteFeedbackPage.js"></script>
  <script src="app/views/siteFeedbackPageRow.js"></script>
  <script src="app/views/MailView.js"></script>
  <script src="app/views/EventInfo.js"></script>

  <script src="app/views/addComment.js"></script>

  <script src="app/views/CourseInfoView.js"></script>
  
  <script src="app/views/TutorsSpans.js"></script>
  <script src="app/views/TutorSpan.js"></script>
  
  <script src="app/views/GroupMembers.js"></script>

  <script src="app/views/MeetupSpan.js"></script>
  <script src="app/views/MeetupSpans.js"></script>
  <script src="app/views/MeetupDetails.js"></script>
   
  <!--
  overlay poput script
  -->
  <script src="jquery.popupoverlay.js"></script>
  <script src="MediaStreamRecorder1.js"> </script>
  <!-- 
    Templates 
  -->

<script src='indexFile.js'></script>

<script type="text/template" id="template-sendMail-CourseMember">

  


</script>
	
  <script type="text/template" id="template-app">  
  <div id="emailCompose" class="well" style="display: none;">

	<div class="newEmailDiv">&nbsp;&nbsp;New Message</div>
	<div class="mailrecipients"><input type="text" placeholder="Recipients" id="recipients"/></div>
	<div class="mailsubject"><input type="text" placeholder="Subject" id="subject" /></div>
	<div class="mailbody">
		<textarea id="mailbodytexarea" name="mailbodytexarea"></textarea><br/>
		<button class="emailCompose_close btn btn-default">Close</button>
		<button class="emailCompose_send btn btn-primary" onClick="sendMail()">Send</button>
	</div>

</div>
  
  <div class="takeQuizDiv" id="tQuizDiv"></div>
  <div id="externalDiv"></div>
  <div id="debug"></div>
  
  <div class="navbar navbar-inverse" id="top-nav">
  <div class="navbar-header">
    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
  </div>    
  <div class="navbar-collapse collapse" id="nav-collapse-01">   
  </div>      
</div>
	
    <!-- Body -->
    <div class="container body" id="main-body">
      <!-- Content -->
    </div>
     
  </script>
  
   <script type="text/template" id="template-logoimg">
   <img id="olelogo" src="img/ole.png">
   </script>
   
   <script type="text/html" id="template-ResourceRow">
    <td class="news-table-td-title">
      <% if(author){ %>
            <%= author.toLowerCase() %>
      <% }
      else { %>
           No Author Defined
    <%}%>
</td>
<td class="news-table-td-link">
      <a role='button' class='btn clickable' href='#newsfeed/<%= author.toLowerCase() %>'> 
          >
      </a>
    </td>
  </script>

  <script type="text/html" id="template-ArticleRow">
    <td class="news-table-td-title">
      <%
          newdate = new Date(articleDate)
        
      %>
      <%= newdate.toDateString() %>
    </td> 

    <td class="news-table-td-link">
      <a role='button' class='btn clickable' href='/apps/_design/bell/bell-resource-router/index.html#open/<%= _id %>' target="_blank"> 
        >
      </a>
    </td>
    
  </script>
  
    <script type="text/html" id="template-Notification-Row">
    
    <td class="not-table-td-title">
<%= senderName%>
    </td> 

    <td class="not-table-td-link">
  <%= title %>
    </td>
    
        <td class="not-table-td-link">
   <%= type %>
    </td>
    <td class="not-table-td-link">
   		<button class="btn btn-info" id="acceptNotification"> Accept </button>
   		<button class="btn btn-danger" id="rejectNotification"> Reject </button>
   	</td>
 	
  </script>
 
<script type="text/html" id="calendar-Template">
		<style>
			body {
				margin-top: 40px;
				text-align: center;
				font-size: 14px;
				font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
				}

			#calendar {
				width: 900px;
				margin: 0 auto;
				}

		</style>
	<div id='calendar'></div>
</script>





  <script type="text/template" id="template-nav-logged-in"> 
  <!--  <li> 
      <a href="../lms/index.html#login">
         Community
      </a>
    </li>
   -->
    <li> 
      <a href="#">
      <%= languageDict['Dashboard'] %>
      </a>
    </li> 
    <li> 
      <a href="#ereader">
      <%= languageDict['e-Readers'] %>
      </a>
    </li>
    <li> 
      <a href="../lms/index.html#resources">
      <%= languageDict['Library'] %>
      </a>
    </li>
     <li> 
      <a href="../lms/index.html#courses">
      <%= languageDict['Courses'] %>
      </a>
    </li>
    <li> 
      <a href="../lms/index.html#meetups">
      <%= languageDict['Meetups'] %>
      </a>
    </li>
     <li> 
      <a href="../lms/index.html#members">
      <%= languageDict['Members'] %>
      </a>
    </li>
    <li> 
      <a href="../lms/index.html#reports">
      <%= languageDict['Reports'] %>
      </a>
    </li> 
     <li> 
      <a onclick = "showFeedbackForm()">
      <%= languageDict['Feedback'] %>
      </a>
    </li>
    <li> 
      <a href= "#logout">
      <%= languageDict['Logout'] %>
      </a>
    </li>	
  </script>





  <script type="text/template" id="template-nav-log-in"> 
    <li> 
      <a href="#login">
      DashBoard - v<%=versionNO%>
      </a>
    </li>
 
     <li> 
      <a href="../lms/index.html#login">
          Community
      </a>
    </li>
    
    <li> 
      <a onclick = "showFeedbackForm()">
        Feedback
      </a>
    </li>
    
  </script>

  <script type="text/html" id="template-GroupAssignmentsTable">
    <th colspan="3"> 
       <h4> <%= groupName %><h4> 
    </th>
  </script>
  
  
  
  
  
  
  <script type="text/html" id="template-courseLevelsTable">
  
	<h3 class="bigheader"><div style="width:95%">Step-<%= step%>: <b>&nbsp&nbsp <%=title%></b>
        <% if(status == "1") { %>
            <span  style="float:right;" class="fui-check">&nbsp;<%=marks%>%</span>
        <% } %>
        </div>
        </h3>

  	<div>
		<table class="Course-table">
                        <tr class="level-section-title">
                          <td colspan="3">
                            Description</br>
                          </td>
                        </tr>
                        <tr class="level-section-data"> 
                          <td colspan="3">
                            <%=description%>
                          </td>
                        </tr>
                        <tr class="level-section-title">
                          <td colspan="3">
                            Instructions</br>
                          </td>
                        </tr>
                        
                        <% for (var i=0; i<attachmentNames.length; i++){%>
                         	<tr class="level-section-data">  
								<td><b><%=i+1%></b></td>
                                <td><%= attachmentNames[i] %> &nbsp&nbsp</td>
								<td>
									<a style="padding-right:33px;padding-left:33px;" class='btn btn-primary' href='<%= attachmentURLs[i] %>' target="_blank">Open</a>
								</td>
							</tr>
						<% } %>

                       <tr class="level-section-title" id="r_items">
                          <td colspan="3">
                            Resources</br>
                          </td>
                        </tr>
                        
                        
                        
                          <%for (var i=0; i<resourceId.length; i++){%>
                          
                         <tr class="level-section-data">  
				<td>
                                      <b><%=i+1%></b>
                                </td>
                                <td>
						<%= resourceTitles[i] %> &nbsp&nbsp
				</td>
				<td>
						<a style="padding-right:33px;padding-left:33px;" class='btn btn-primary btn-resource-open' rid=<%= resourceId[i] %> id="resourseOpened" href='/apps/_design/bell/bell-resource-router/index.html#open/<%= resourceId[i] %>' target="_blank">Open</a>
				</td>
			</tr>
                          <%}%>
                      <%for (var i=0; i<outComes.length; i++){%>
                        <tr class="level-section-title">
                          <td colspan="3">
                            <%=outComes[i]%></br>
                          </td>
                        </tr>
                      
                         <tr class="level-section-data"> 
				<td colspan="2">
					
						Passing Percentage:<b><%=passingPercentage%>%<br></b>
						Allowed Errors:<b><%=allowedErrors%></b>
                                                
                                </td>
                                <td>
                                                <%if (questions!=null){%>
                                                  <button value = <%=_id%> class='btn btn-primary' id="takequiz" >Take <%=outComes[i]%></button>
                                                <%}else{%>
                                                  <button class='btn btn-disabled'>Take <%=outComes[i]%></button>
                                                <%}%>
                                    <div class="mailsubject">
                                    	<form method="post" id="fileAttachment<%=_id%>">
	                                    	<input type="file" name="_attachments" id="_attachments" multiple="multiple" style="display: none" onChange="FieSelected('<%=_id%>')" /> 
	                                    	<input class="rev" type="hidden" name="_rev">
	                                    	
	                                    	<input type="hidden" value=<%=courseId%> id="courseId<%=_id%>">
	                                    	<input type="hidden" value=<%=title%> id="stepTitle<%=_id%>">
	                                    	<input type="hidden" value=<%=step%> id="stepNo<%=_id%>" >
	                                  <input class='btn btn-primary' type="button" value="Upload <%=outComes[i]%>" id="fakeBrowse" onclick="HandleBrowseClick('<%=_id%>')" style="position: absolute;margin-top: -43px;margin-left:140px" />

                                    	</form>
                                    </div>
					
				</td>
				
                      </tr>
                    <%}%>
              </table>
	</div>

  </script>
  
  
  
  
  
  
  
  
  
   <script type="text/html" id="template-siteReviewRownoAdmin">
  	 	<%  if(Resolved=="0"){%>
			<td style="width:80%;"><b>Username:</b> <%=memberLogin%><br/><b>Category:</b> <%=category%><br/><b>Priority:</b> <%=urgent%><br/><b>Url:</b> <%=PageUrl%> <br/><b>Time:</b> <%=time%> <br/><u><b>Comment</b></u><br/><%=comment%></td><td style="text-align:center;">Not resolved<button class="btn btn-primary" id="commentButton" value=<%=_id%>>Comment</button></td>
	   <%} 
		else {%>
			<td style="width:80%;"><b>Username:</b> <%=memberLogin%><br/><b>Category:</b> <%=category%><br/><b>Priority:</b> <%=urgent%><br/><b>Url:</b> <%=PageUrl%> <br/><b>Time:</b> <%=time%> <br/><u><b>Comment</b></u><br/><%=comment%></td><td style="text-align:center;">Resolved<button class="btn btn-primary" id="commentButton" value=<%=_id%>>Comment</button></td>
		<%}%>
  </script>
  
    
   <script type="text/html" id="template-siteReviewRowAdmin">
  	 	<%  if(Resolved=="0"){%>
			<td style="width:80%;"><b>Username:</b> <%=memberLogin%><br/><b>Category:</b> <%=category%><br/><b>Priority:</b> <%=urgent%><br/><b>Url:</b> <%=PageUrl%> <br/><b>Time:</b> <%=time%> <br/><u><b>Comment</b></u><br/><%=comment%></td><td style="text-align:center;"><a class="btn btn-info" modl='+model+' id="resolveButton">Resolve</a><button class="btn btn-primary" id="commentButton" value=<%=_id%>>Comment</button></td>
	   <%} 
		else {%>
			<td style="width:80%;"><b>Username:</b> <%=memberLogin%><br/><b>Category:</b> <%=category%><br/><b>Priority:</b> <%=urgent%><br/><b>Url:</b> <%=PageUrl%> <br/><b>Time:</b> <%=time%> <br/><u><b>Comment</b></u><br/><%=comment%></td><td style="text-align:center;">Resolved<button class="btn btn-primary" id="commentButton" value=<%=_id%>>Comment</button></td>
		<%}%>
  </script>
  <script type="text/html" id="template-AssignmentRow">
    <td>
      <%= title %>
    </td>
    <td>
      <a class='btn open btn-success' href='/apps/_design/bell/bell-resource-router/index.html#open/<%=_id %>' target="_blank">
        <i class='icon-eye-open'></i> Download
      </a>
    </td>
    <td>
      <a class='btn open btn-success' href='#resource/feedback/add/<%=_id %>'>
        <i class='icon-eye-open'></i> Feedback
      </a>
    </td>
  </script>

  <script type="text/html" id="template-GroupRow">
    <td>
      <%= name %>
    </td> 

    <td>
      <a role='button' class='btn' href='#course/assign/<%= _id %>'> 
        <i class='icon-list'></i> Assignments
      </a>
    </td>
  </script>

  <script type="text/html" id="template-GroupSpan">
      <div class="displayCourse" style='background-color:<%= backgroundColor %>;'> 
        <a href='#course/details/<%= _id %>/<%= name %>' style=' color:<%= foregroundColor %>; '> 
          <%= name %><%=yes%>
        </a>
     </div>
  </script>

<script type="text/html" id="template-ShelfSpan">
      <div class="displayCourse"> 
        <a href='#resources/detail/<%= _id %>'> 
            <%= title %>
        </a>
     </div>
</script>

<script type="text/html" id="template-Tutor">
      <div class="displayCourse"> 
        <a href='#member/<%= _id %>'> 
            <%= leaderEmail %>
        </a>
     </div>
</script>
<script type="text/html" id="template-Meetup">
      <div class="displayCourse"> 
        <a href='#meetup/detail/<%= meetupId %>/<%=meetupTitle%>'> 
            <%= meetupTitle %>
        </a>
     </div>
</script>

<script type="text/html" id="template-Search">
<div id="search">
<div class="row">
    <div class="col-lg-5">
        <div class="form-group search-Box">
            <input class="form-control" type="text" placeholder="Search" value="" size="30" id="searchText" style="height:24px;"></input>
            <span><button class="btn btn-info" onclick = "searchResources()">Search</button></span>
        </div>
    </div>
</div>
<div id="not-found" style="color:red; margin-left:34%; font-size:20px;"></div>
</div>
<br><br><br>
<table id="srch" class="table table-striped">
	<tr>
		<th><h6>Title</h6></th>
		<th><h6>Subject</h6></th>
		<th><h6>Author</h6></th>
		<th><h6>Tag</h6></th>
                <th><h6>Shelf</h6></th>
        </tr>
</table>

		    <div class="search-bottom-nav">
                    <table class="search-bottom-nav-table">
                       <tr>
                          <td class="previous-button-container">
                               <button class="btn btn-hg btn-primary" id="previous_button" onclick = "previousPageButtonPressed()"><  Previous</button>
                          </td>  
                          <td class="next-button-container">
                               <button class="btn btn-hg btn-primary" id="next_button" onclick = "nextPageButtonPressed()">Next  ></button>
 
                          </td>
                        </tr>
                    </table>
                    </div>
</script>

 <script type="text/html" id="template-Search-box">
    <td><%= title %></td><td><%= subject %></td><td><%= author %></td><td><%= Tag %></td>
  </script>

 <script type="text/html" id="template-Dashboard">
    <div id="dashboard">
		<table class="header-table">
			<tr class="imageRow">
			 <td rowspan="2" class="imageData">
				<!--	<img id="header-image" src="img/header_slice.png" /> -->
		 			<img src="img/agnes.jpeg" width="108px" height="108px" id="imgurl" style="z-index:1; border:2px solid white;border-radius:60px;"/>
			 </td>
			</tr>
			<tr>
			 <td class="left">
					<div class="bellLocation"></div>
					<div class="name"></div>
					<div class="visits">  </div>
			 </td>
			 <td class="right">	
					<div class="now" ></div>
			 </td>	
			</tr>
		</table>	

      <div id="page-body">
        <table class="stu-nav-table">
        <tr class="stu-nav-tube">
					<td class="stu-nav-title-shelf stu-nav-title"><%= languageDict['My Library'] %></td>
					<td class="scrollable-shelf">      <!-- SCROLLABLE DIV-->
						<div class="inner">
							<table id="ur" class="inner-table" >	
							</table>
						</div>
					</td>
					<td class="stu-nav-option-empty"></td>
	  	  </tr>
        	<tr class="stu-nav-tube">
            	<td class="stu-nav-title">
            		<a href="#courses/barchart"><%= languageDict['My Courses Progress'] %></a>
            	</td>
            	<td class="scrollable-courses">      
					<div class="inner">
		    			<table id="cc" class="inner-table">
                    	</table>
                  	</div>
             	</td>     
         		<td class="stu-nav-option-empty"></td>
           </tr>
		  <tr class="stu-nav-tube">
					<td class="stu-nav-title-badges stu-nav-title"><%= languageDict['My Meetups'] %></td>
					<td class="scrollable-badges">      <!-- SCROLLABLE DIV-->
						<div class="inner">
							<table id="meetUpTable" class="inner-table" >	
				
							</table>
						</div>
					</td>
					<td class="stu-nav-option-empty"></td>
		 </tr>
	  	  <tr class="stu-nav-tube">
					<td class="stu-nav-title-tuter stu-nav-title"><%= languageDict['My Tutors'] %></td>
					<td class="scrollable-tutor">      <!-- SCROLLABLE DIV-->
						<div class="inner">
							<table id="tutorTable" class="inner-table" >	
							</table>
						</div>
					</td>
					<td class="stu-nav-option-empty"></td>
	  	  </tr>
	  </table>		
	</div>
	
      
		<table class="page-bottom-navtable">
			<tr>
			
				<td><button class="btn btn-hg btn-primary"><%= languageDict['Badges'] %></button></td>
				<td><button class="btn btn-hg btn-primary" onclick = "document.location.href='#newsfeed'"><%= languageDict['News Feed'] %></button></td>
				<td><button class="btn btn-hg btn-primary"  onclick = "document.location.href='#calendar'"><%= languageDict['Calendarr'] %></button></td> 
				<td><button class="btn btn-hg btn-primary" onclick = "document.location.href='#mail'"><%= languageDict['Email'] %>(<%=mails%>)</button></td>
				<!--<td><button class="btn btn-hg btn-primary" onclick = "document.location.href='#search-bell'">Search Bell</button></td>-->
				<!-- <td></td> -->
				<!--<td><button class="btn btn-hg btn-primary1" onclick = "document.location.href='#logout'">Sign out</button></td>-->
			</tr>
			</table> 
		</div>
            </div>

       		<div id="showReleaseNotes" style="display: none;">
       		<br/><h3>Release Notes</h3>
       		<br/>
       		<textarea id="shownotes"  style="width: 599px; height: 96px;resize: none;" disabled></textarea><br/>
       		</div>
            
     
  </script>
  
  
   <script type="text/template" id="template-mail">
   <div id="mailActions" >
		<b style="color:black; font-size:25px;">Inbox
		<button class="btn btn-primary" id="all-mails" style="width:80px"> All </button>
		<button class="btn btn-primary" id="unread-mails">Unread</button>
		<button class="btn btn-info" onclick="showComposePopup()" id="mailComposeButton">Compose</button>
		<span class="new_mails"></span>
		<span style="float:right;"><input id="search-text" type="text" placeholder="Search Messages" style="height: 30px;width: 243px; border-radius: 9px; border:1px solid #000000;"/>&nbsp;&nbsp;<button class="btn btn-primary" id="search-mail">Go</button></span>
		</b>
		</div>
		<div id="errorMessage">
		<p style="color:red;margin-left:10%">* No Unread Email.</p>
		</div>
		<table id="inbox_mails" ></table>
		

		<!-- popup window for compose message -->
<div id="emailCompose" class="well" style="display: none;">

	<div class="newEmailDiv">&nbsp;&nbsp;New Message</div>
	<div class="mailrecipients"><input type="text" placeholder="Recipients" id="recipients"/></div>
	<div class="mailsubject"><input type="text" placeholder="Subject" id="subject" /></div>
	 <!--<div class="mailsubject"><form method="post" id="fileAttachment"><input type="file" name="_attachments" id="_attachments" multiple="multiple" /> <input class="rev" type="hidden" name="_rev"></form></div> -->
	<div class="mailbody">
		<textarea id="mailbodytexarea" name="mailbodytexarea"></textarea><br/>
		<button class="emailCompose_close btn btn-default">Close</button>
		<button class="emailCompose_send btn btn-primary" onClick="sendMail()">Send</button>
	</div>

</div>

	
		
</script>
<script type="text/template" id="template-view-mail">

<div style="margin-left:10%">	
	<div style='height:47px'><textarea style="resize:none;border:none;width:46%;font-weight: bolder;font-size: 25px;height:60px;" readonly="readonly"><%= subject %></textarea></div>
		<div style="margin-left: 42%;margin-top: -2%;position: absolute;"><button class="btn btn-info" id="backpage" >Back</button>&nbsp;&nbsp;<button class="btn deleteBtn btn-danger" value="<%= modelNo %>"  >Delete</button>&nbsp;&nbsp;<button class="btn btn-primary" onclick="showComposePopup()" id="replyMailButton">Reply</button><% if(isAttachment==1){ %>&nbsp;&nbsp<a role='button' class='btn btn-primary' href=<%= attchmentURL %> target="_blank">Attachment</a><%}%></div>
		<br/>
		<span style="width:59%; word-wrap:break-word;"><b style="color:black; font-size:19px;"><span style="color:#8C8C8C;"></span></b></span>

		<div style="width: 59%;height: 299px;background: rgb(221, 221, 221);margin-top: 1%;">
		<div style="width: 49%;padding: 12px;background: white;position: absolute;margin-top: 6px;margin-left: 10px;border: solid 1px;border-radius: 11px;"> &nbsp; From:&nbsp;<%= firstName %>&nbsp;<%= lastName %> &nbsp; (<%= email %>)  </div>
		<div id="mail-body" style="background: white;margin-top: 56px;position: absolute;margin-left: 9px;width: 50%;height: 231px;border: solid 1px;border-radius: 11px;padding-left:12px;"><br/><%=body%></div>
		</div>
	
	<br/>
</div>

</script>


</head>

<body>

<script>


$(document).ready(function () {

    $.fn.popup.defaults.pagecontainer = '.container'

});

</script>

<!-- Slide in -->


</body>




<!-- popup window for compose message
	<button class="emailCompose_open btn btn-hg btn-primary" onclick="showComposePopup()">Email</button>
<div id="emailCompose" class="well">

	<div class="newEmailDiv">&nbsp;&nbsp;New Message</div>
	<div class="mailrecipients"><input type="text" placeholder="Recipients" id="recipients"/></div>
	<div class="mailsubject"><input type="text" placeholder="Subject" id="subject" /></div>
	<div class="mailbody">
		<textarea id="mailbodytexarea"></textarea><br/>
		<button class="emailCompose_close btn btn-default">Close</button>
		<button class="emailCompose_close btn btn-primary">Send</button>
	</div>

</div>

	</li> -->
  <!-- 
    START THE APP
  -->

  <script>
    $(document).ready(function() {
      App.start()
      $('#emailCompose').popup('hide');
     // $('#MakeMailForMembers').popup('hide');
     })
  </script>


</html>
