<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">

<link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen" />
<link href="vendor/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" media="screen" />

<link rel="stylesheet" href="app/jqueryui.css" />
<link rel="stylesheet" href="app/Home.css"/>
<link rel="stylesheet" href="app/Home-Urdu.css"/>
<link rel="stylesheet" href="app/style.css"/>
<link rel="stylesheet" href="app/tabl.css"/>

<title>Nation Bell</title>


<link rel="stylesheet" href="app/app.css"/>
<link rel="stylesheet" href="app/flat-ui.css"/>
<link rel="stylesheet" href="app/navStyle.css"/>
<link rel="stylesheet" href="vendor/chosen.css"/>
<link rel="stylesheet" href="vendor/jquery-ui-1.10.3.custom.css"/>



<!--
  DEPENDENCIES
-->
<script src="vendor/Spin.js"></script>
<script src="vendor/jquery-1.7.2.js"></script>
<script src="vendor/spectrum.js"></script>
<script src="vendor/underscore-1.4.4.js"></script>
<script src="vendor/backbone-1.0.0.js"></script>
<script src="vendor/backbone-forms.js"></script>
<script src="/_utils/script/json2.js"></script>
<script src="/_utils/script/jquery.couch.js?0.8.0"></script>
<!--<script src="/_utils/script/jquery.form.js?0.9.0"></script> -->
<script src="vendor/jquery.form.js"></script>
<script src="vendor/sha1.js"></script>
<script src="vendor/moment.min.js"></script>
<script src="vendor/jquery.couch.js"></script>
<script src="vendor/jquery.cookie.js"></script>
<script src="vendor/backbone.couchdb.js"></script>
<script src="vendor/html-encode.js"></script>
<script src="vendor/jquery.url.js"></script>
<script src="vendor/bootstrap/js/bootstrap.js"></script>
<script src="vendor/jquery.raty.js"></script>
<script src="vendor/raphael.js"></script>
<script src="vendor/morris.js"></script>
<script src="vendor/jquery.timepicker.js"></script>
<script src="vendor/jquery-ui-1.10.3.custom.js"></script>
<script src="vendor/jquery-ui.multidatespicker.js"></script>
<script src="vendor/highcharts.js"></script>


<!-- -->


<script src="app/App.js"></script>





<!-- Models  -->
<script src="app/models/DailyLog.js"></script>
<script src="app/models/Configuration.js"></script>
<script src="app/models/Community.js"></script>
<script src="app/models/CourseStep.js"></script>
<script src="app/models/Credentials.js"></script>
<script src="app/models/Member.js"></script>
<script src="app/models/report.js"></script>
<script src="app/models/NationReport.js"></script>
<script src="app/models/request.js"></script>
<script src="app/models/NationReportComment.js"></script>
<script src="app/models/Publication.js"></script>

<script src="app/models/Resource.js"></script>
<script src="app/models/Course.js"></script>
<script src="app/models/Survey.js"></script>
<script src="app/models/Question.js"></script>
<script src="app/models/Language.js"></script>
<script src="app/models/VipLink.js"></script>

<!-- Collections  -->
<script src="app/collections/ActivityLog.js"></script>
<script src="app/collections/Configurations.js"></script>
<script src="app/collections/Community.js"></script>
<script src="app/collections/CourseLevels.js"></script>
<script src="app/collections/MailUnopened.js"></script>
<script src="app/collections/siteFeedbacks.js"></script>
<script src="app/collections/Reports.js"></script>
<script src="app/collections/Publication.js"></script>
<script src="app/collections/CourseRequest.js"></script>
<script src="app/collections/ResourceRequest.js"></script>
<script src="app/collections/NationReportComments.js"></script>
<script src="app/collections/Courses.js"></script>
<script src="app/collections/Resources.js"></script>
<script src="app/collections/Surveys.js"></script>
<script src="app/collections/SurveyQuestions.js"></script>
<script src="app/collections/Languages.js"></script>
<script src="app/collections/Members.js"></script>
<script src="app/collections/SurveyAnswers.js"></script>
<script src="app/collections/VipLinks.js"></script>


<!-- Views  -->

<script src="app/views/TrendActivityReport.js"></script>
<script src="app/views/CommunityForm.js"></script>
<script src="app/views/ConfigurationView.js"></script>
<script src="app/views/navBarView.js"></script>
<script src="app/views/MemberLoginForm.js"></script>
<script src="app/views/Dashboard.js"></script>
<script src="app/views/siteFeedback.js"></script>
<script src="app/views/siteFeedbackPage.js"></script>
<script src="app/views/siteFeedbackPageRow.js"></script>
<script src="app/views/ReportsRow.js"></script>
<script src="app/views/Publication.js"></script>
<script src="app/views/PublicationTable.js"></script>
<script src="app/views/PublicationRow.js"></script>
<script src="app/views/ReportsTable.js"></script>
<script src="app/views/ReportForm.js"></script>
<script src="app/views/PublicationResourceTable.js"></script>
<script src="app/views/PublicationResourceRow.js"></script>
<script src="app/views/PublicationForm.js"></script>
<script src="app/views/RequestsTable.js"></script>
<script src="app/views/RequestRow.js"></script>
<script src="app/views/NationReportCommentView.js"></script>
<script src="app/views/listCommunityView.js"></script>
<script src="app/views/CourseView.js"></script>
<script src="app/views/CoursesTable.js"></script>
<script src="app/views/CourseRow.js"></script>
<script src="app/views/listSyncDbView.js"></script>
<script src="app/views/courseSeach.js"></script>
<script src="app/views/PublicationCoursesTable.js"></script>
<script src="app/views/PublicationCourseRow.js"></script>
<script src="app/views/Configurations.js"></script>
<script src="app/views/Survey.js"></script>
<script src="app/views/SurveyTable.js"></script>
<script src="app/views/SurveyRow.js"></script>
<script src="app/views/SurveyForm.js"></script>
<script src="app/views/SurveyQuestionTable.js"></script>
<script src="app/views/SurveyQuestionRow.js"></script>
<script src="app/views/CommunitySurveysTable.js"></script>
<script src="app/views/SurveyAnswerTable.js"></script>
<script src="app/views/SurveyAnswerRow.js"></script>
<script src="app/views/CriteriaListView.js"></script>
<script src="app/views/MembersListView.js"></script>
<script src="app/views/CommunitiesList.js"></script>
<script src="app/views/CommunityDetailsView.js"></script>
<script src="app/views/CommunityRequestsTable.js"></script>
<script src="app/views/CommunityRequestRow.js"></script>
<script src="app/views/VipLinksView.js"></script>
<script src="app/Router.js"></script>

<script>
    var limitofRecords = 5;
    var skip = 0;
    var skipStack = new Array();
    url="unknown";
    function showFeedbackForm() {
        var loginOfMem = $.cookie('Member.login');
        var lang = App.Router.getLanguage(loginOfMem);
        App.languageDictValue=App.Router.loadLanguageDocs(lang);
        App.languageDict = App.languageDictValue;
        App.renderFeedback()
        if (document.getElementById('site-feedback').style.visibility != 'visible') {
            $('#site-feedback').animate({height: '320px'})
            document.getElementById('site-feedback').style.visibility = 'visible'
        }
        else {
            $('#site-feedback').animate({height: 'toggle'})
        }
        $('#comment').attr('placeholder',App.languageDictValue.attributes.Give_Feedback);
        if (App.languageDictValue.get('directionOfLang').toLowerCase() === "right") {
            $('#comment').css('text-align','right');
        }
    }
    function showDatabases(){
        var location=window.location.href;
        var arr=location.split("/");
        location=arr[0] + "//" + arr[2];
        location=location+'/_utils';
        window.location.href =location;
    }
    function SelectCommunity(pId){
        App.Router.SelectCommunities(pId)
    }

    function selectCriteria(surveyId){
        document.location.href = "#criteriaList/" + surveyId;
    }

    function communitiesList(surveyId){
        document.location.href = "#communitiesList/" + surveyId;
    }

    function hideAllDivs () {
        $("#1").hide();
        $("#5").hide();
        $("#6").hide();
        $("#8").hide();
    }

    function handleNewSelection() {
        hideAllDivs();

        switch ($(this).val()) {
            case '1':
                $("#1").show();
                $('#1').find('#question_text').val('');
                $('#1').find('#answer_choices').val('');
                $('#1').find('#required_question').removeAttr('checked');
                $("#1 .subtitle2").eq(0).text(App.languageDictValue.get('Question_Text'));
                $("#1 .subtitle2").eq(1).text(App.languageDictValue.get('answer_Choices_Stat'));
                $('#1').find('#require-surCheckBox').text(App.languageDictValue.get('require_answer'));
                $('#1').find('input[type=submit]').attr("value",App.languageDictValue.get('save_question'));
                break;
            case '5':
                $("#5").show();
                $('#5').find('#question_text').val('');
                $('#5').find('#answer_choices').val('');
                $('#5').find('#select_rating').val("4").trigger('change');
                $('#5').find('.ratingLabels').val('');
                $('#5').find('#required_question').removeAttr('checked');
                $("#5 .subtitle2").eq(0).text(App.languageDictValue.get('Question_Text'));
                $("#5 .subtitle2").eq(1).text(App.languageDictValue.get('answer_Choices_Stat'));
                $("#5 .subtitle2").eq(2).text(App.languageDictValue.get('column_choices'));
                $('#5').find('#select-ratings').text(App.languageDictValue.get('select_ratings'));
                $('#5').find('#require-surCheckBox').text(App.languageDictValue.get('require_answer'));
                var ratingsArray=App.languageDictValue.get('ratingsArray');
                for(var i=0;i<ratingsArray.length;i++)
                {
                    $('#5').find('#select_rating').find('option').eq(i).text(ratingsArray[i]);
                }
                for(var i=1;i<=9;i++){
                    $('#5').find('#rating'+i).find('b').eq(0).text(App.languageDictValue.get('Label'));
                    $('#5').find('#rating'+i).find('b').eq(1).text(App.languageDictValue.get('weight'));
                }
                $('#5').find('input[type=submit]').attr("value",App.languageDictValue.get('save_question'));
                break;
            case '6':
                $("#6").show();
                $('#6').find('#question_text').val('');
                $('#6').find('#required_question').removeAttr('checked');
                $("#6 .subtitle2").eq(0).text(App.languageDictValue.get('Question_Text'));
                $('#6').find('#require-surCheckBox').text(App.languageDictValue.get('require_answer'));
                $('#6').find('input[type=submit]').attr("value",App.languageDictValue.get('save_question'));
                break;
            case '8':
                $("#8").show();
                $('#8').find('#question_text').val('');
                $('#8').find('#required_question').removeAttr('checked');
                $("#8 .subtitle2").eq(0).text(App.languageDictValue.get('Question_Text'));
                $('#8').find('#require-surCheckBox').text(App.languageDictValue.get('require_answer'));
                $('#8').find('input[type=submit]').attr("value",App.languageDictValue.get('save_question'));
                break;
        }
    }

    function SyncDbSelect(){
        App.Router.SyncDbSelect()
    }
</script>
<!--templates -->
<!--   issue#50:Add Last Activities Sync Date to Activity Report On Nation For Individual Communities
       Issue#80:Add Report button on the Communities page at nation
       <span align="right" style="position: absolute;display: inline-block;margin-right: 0px">Last Activities Sync Date: <%= lastActivitySyncDate %></span>
       Trend Activity Report for xyz Community as of xx/xx/xxxx-->
<script type="text/html" id="template-TrendActivityReport">

    <h4 id="parentDiv">
        <div><span align ="left"><%=languageDict.attributes.Activity_Report%> |  <%= CommunityName %> | <%=languageDict.attributes.last_sync_date%>  <%= lastActivitySyncDate %> </span> </div>
    </h4>

    <div id="trend-report-div-total-members" style = "padding:10px 10px 10px 10px; " ></div>
    <div id="trend-report-div-total-member-visits" style = "padding:10px 10px 10px 10px; " ></div>
    <div id="trend-report-div-new-memberships" style = "padding:10px 10px 10px 10px; " ></div>
    <div id="trend-report-div-visits" style = "padding:10px 10px 10px 10px; " ></div>
    <div id="trend-report-div-total-resource-views-this-month" style = "padding:10px 10px 10px 10px; " ></div>

    <h4 id="parentDiv">
        <%=languageDict.attributes.Facts_and_Figures%>
    </h4>
    <table class="table table-striped" id="parentDiv">
        <tr>
            <th ><%=languageDict.attributes.Max_open_Frequency%></th>
            <th ><%=languageDict.attributes.Total%></th>
            <th > <%=languageDict.attributes.Male%></th>
            <th > <%=languageDict.attributes.Female%></th>
            <th> <%=languageDict.attributes.Average_Rating%></th>
            <th > <%=languageDict.attributes.Times_Rated%></th>
        </tr>
        <!-- @todo Recording of opening resources is broken.  -->
        <!-- dynamically display each most frequently opened resource entry & its corresponding stats -->
        <% _.each(Most_Freq_Open, function(resource){ %>
        <tr>
            <td><%=resource.resourceName%></td>
            <td><%=resource.timesOpenedCumulative%></td>
            <td><%=resource.timesOpenedByMales%></td>
            <td><%=resource.timesOpenedByFemales%></td>
            <td><%=resource.avgRatingCumulative%></td>
            <td><%=resource.timesRatedCumulative%></td>
        </tr>
        <% }); %>
        <tr>
            <th > <%=languageDict.attributes.Highest_Rated%></th>
            <th > <%=languageDict.attributes.Total%></th>
            <th > <%=languageDict.attributes.Male%></th>
            <th > <%=languageDict.attributes.Female%></th>
            <th> <%=languageDict.attributes.Average_Rating%></th>
            <th > <%=languageDict.attributes.Times_Rated%></th>
        </tr>
        <% _.each(Highest_Rated, function(resource){ %>
        <tr>
            <td><%=resource.resourceName%></td>
            <td><%=resource.timesRatedByMales+resource.timesRatedByFemales%></td>
            <td><%=resource.timesRatedByMales%></td>
            <td><%=resource.timesRatedByFemales%></td>
            <td><%=resource.avgRatingCumulative%></td>
            <td><%=resource.timesRatedCumulative%></td>
        </tr>
        <% }); %>
        <tr>
            <th > <%=languageDict.attributes.Lowest_Rated%></th>
            <th > <%=languageDict.attributes.Total%></th>
            <th > <%=languageDict.attributes.Male%></th>
            <th > <%=languageDict.attributes.Female%></th>
            <th> <%=languageDict.attributes.Average_Rating%></th>
            <th > <%=languageDict.attributes.Times_Rated%></th>
        </tr>
        <% _.each(Lowest_Rated, function(resource){ %>
        <tr>
            <td><%=resource.resourceName%></td>
            <td><%=resource.timesRatedByMales+resource.timesRatedByFemales%></td>  <!-- timesOpenedCumulative -->
            <td><%=resource.timesRatedByMales%></td>     <!-- timesOpenedByMales -->
            <td><%=resource.timesRatedByFemales%></td>   <!-- timesOpenedByFemales -->
            <td><%=resource.avgRatingCumulative%></td>
            <% if (resource.timesRatedCumulative === "N/A") { %>
            <td><%=resource.timesRatedCumulative%></td>
            <% } else { %>
            <td><%=resource.timesRatedByMales+resource.timesRatedByFemales%></td>
            <% } %>
        </tr>
        <% }); %>

    </table>
</script>

<script type='text/template' id='template-login'>
    <p style='text-align:center;font-size:27px'>Welcome to Nation Bell <br> The Billion Kids' Basic e-Learning Library</p>
    <div style='height:250px;border-top:1px solid gray;border-bottom:1px solid gray;width:100%;margin:100px auto;background-color:#eee' id='Login-form'>
        <div style='width:940px;margin:0 auto'>
            <form id='login-form' style='padding-top:50px'>
                <div class='login-input'>
                    <input placeholder='UserName' id='username' type='text'/>
                    <span></span>
                </div>
                <div class='login-input'>
                    <input placeholder='Password' id='password' type='password'/>
                    <span></span>
                </div>
                <div class='login-input' style='padding-top:20px' id='submit-button'>

                </div>
            </form>
            <img id="glob_img" src="img/earth_glob.png" alt="Smiley face" >
        </div>
</script>

<script type="text/template" id="template-app">

    <div id="debug">
        <div id="comments">

        </div>


    </div>
    <div id="invitationSuperDiv">
        <div id="invitationdiv" style="display: block;">

        </div>
    </div>
    <div class="takeQuizDiv" id="tQuizDiv"></div>
    <div id="popup-spinning"></div>
    <div id='nav' class="navbar navbar-inverse" id="top-nav"style="margin: 4px 0px 0px 0px;">
        <div class="container" id="nav-collapse-01"></div>
    </div>

    <!-- Body -->

    <div class="container body" id="main-body">
        <!-- Content -->
    </div>

</script>

<script type="text/html" id="template-CourseRow">
    <td>
        <%= CourseTitle %>
    </td>

    <td>
        <a role='button' class='btn btn-inverse addtoPublication' name='<%=_id %>'>
            <%= languageDict.attributes.Add %>
        </a>
    </td>
    <td>

    </td>
</script>


<script type="text/html" id="template-publication-CourseRow">

    <td>
        <span style="font-weight:700;color:grey; font-size:16px;"><%if (CourseTitle)%> <%= CourseTitle %></BR></span>
    </td>
    <td>
        <a class='btn btn-danger destroy'>
            <i class='icon-remove icon-white'></i> <%= languageDict.attributes.Remove %>
        </a>
    </td>

</script>

<script type="text/template" id="template-nav-log-in">
    <li>
        <a href="#login">
            Personal BeLL - v1.0.7
        </a>
    </li>
    <li>
        <a href="#login">
            Pakistan
        </a>
    </li>
    <li>
        <a href="../lms/index.html#login">
            LMS
        </a>
    </li>
    <li>
        <a href="../earth/index.html#login">
            Earth Bell
        </a>
    </li>

    <li  style="float:right;">
        <a onclick = "showFeedbackForm()">
            Feedback
        </a>
    </li>

</script>



<script type="text/template" id="template-nav-logged-in">

    <li>
        <a href="#listCommunity">
            <%= languageDict.attributes.Communities %>
        </a>
    </li>
    <li>
        <a href="#publication">
            <%= languageDict.attributes.Publications %>
        </a>
    </li>
    <li>
        <a href="#survey">
            <%= languageDict.attributes.Surveys %>
        </a>
    </li>
    <li>
        <a href="#request">
            <%= languageDict.attributes.Requests %>
        </a>
    </li>
    <li>
        <a href="#">
            <%= languageDict.attributes.Databases %>
        </a>
    </li>
    <li>
        <a href="#reports">
            <%= languageDict.attributes.Reports %>
        </a>
    </li>
    <li>
        <a onclick = "showFeedbackForm()">
            <%= languageDict.attributes.Feedback %>
        </a>
    </li>
    <li>
        <a href="../MyApp/index.html#dashboard">
            <%= languageDict.attributes.Dashboard %>
        </a>
    </li>

</script>
<script type="text/template" id="template-nav-logged-in-cummunity">

    <li>
        <a href="../MyApp/index.html#dashboard">
            <%= languageDict.attributes.Dashboard %>
        </a>
    </li>
    <li>
        <a href="../MyApp/index.html#resources">
            <%= languageDict.attributes.Library %>
        </a>
    </li>
    <li>
        <a href="../MyApp/index.html#courses">
            <%= languageDict.attributes.Courses %>
        </a>
    </li>
    <li>
        <a href="../MyApp/index.html#meetups">
            <%= languageDict.attributes.Meetups %>
        </a>
    </li>
    <li>
        <a href="../MyApp/index.html#members">
            <%= languageDict.attributes.Members %>
        </a>
    </li>
    <li>
        <a href="../MyApp/index.html#reports">
            <%= languageDict.attributes.Reports %>
        </a>
    </li>
    <li>
        <a onclick = "showFeedbackForm()">
            <%= languageDict.attributes.Feedback %>
        </a>
    </li>
    <li>
        <a href= "../MyApp/index.html#logout">
            <%= languageDict.attributes.Logout %>
        </a>
    </li>

</script>
<script type="text/template" id="template-Publication">

    <p class='heading' style="font-size: 20px;">
    <h3><%=languageDict.attributes.Publications %>
        <a href='#publication/add' class="btn btn-success publicationFont"><%=languageDict.attributes.Add_Issue %></a>
    </h3>
    </p>

    <div style='width:940px;margin:0 auto' id='listReq'></div>
</script>
<script type="text/template" id="template-Survey">

    <p class='heading' style="font-size: 20px;">
    <h3><%=languageDict.attributes.Surveys %>
        <a href='#survey/add' class="btn btn-success publicationFont"><%=languageDict.attributes.Add_Survey %></a>
    </h3>
    </p>

    <div style='width:940px;margin:0 auto' id='listSur'></div>
</script>
<script type ="text/template" id ="template-viplink">
    <input id="copyInput" style="position:absolute;top:-120px;" />
    <h3><%= languageDict.attributes.viplinks %></h3><br/><br/>
    <b><%= languageDict.attributes.Name %>&nbsp;&nbsp;</b>
    <input type="text" id="domain-name" name="domain-name-name"  placeholder="Name">&nbsp;&nbsp;
    <button class="create btn btn-success"><%=languageDict.attributes.Create %></button>
    <br/><br/>
    <div class  ="parentDiv">
    <table class ="table table-striped">
        <tbody>
            <tr>
                <th><%= languageDict.attributes.Name %></th>
                <th><%= languageDict.attributes.Url %> </th>
                <th><%= languageDict.attributes.Visits %></th>
                <th><%= languageDict.attributes.Last_Activities %></th>
                <th><%= languageDict.attributes.action %></th>
            </tr>
            <% for (var i=0; i < vips.length; i++){%>
            <tr>
                <td><%= vips[i]['name'] %></td>
                <td><a class= "copy" href ="<%= vips[i]['url']+ '/' + vips[i]['_id'] %>"><%= vips[i]['url'] + '/' + vips[i]['_id'] %></a></td>
                <td><%= vips[i]['visits'] %></td>
                <td><%= vips[i]['lastVisit'] %></td>
                <td><button class ="copy btn btn-success"><%=languageDict.attributes.Copy%></button>&nbsp;&nbsp;&nbsp;<button data-id="<%= vips[i]['_id'] %>" class='destroy btn btn-danger'><%=languageDict.attributes.DeleteLabel%></button></td>
            </tr>
        </tbody>
            <% } %>
    </table>
    </div>
</script>
<script type="text/html" id="template-SurveyRow">
    <td>
        <span style="font-weight:900; font-size:16px;"><%= Date %></BR></span>
    </td>
    <td>
        <span style="font-weight:900; font-size:16px;"><%= SurveyNo %></BR></span>
    </td>
    <td>
        <span style="font-weight:900; font-size:16px;"><%= SurveyTitle %></BR></span>
    </td>
    <td>
        <select multiple id="SurveycommNames" style="width:150px">
            <%if(sentTo && sentTo.length>0){%>
            <% for (var i=0; i<sentTo.length; i++){%>
            <option disabled="disabled" value="<%= sentTo[i] %>"><%= sentTo[i] %> </option>
            <% }%>
            <%} else {%>
            <option disabled="disabled" value="None"><%= languageDict.attributes.None %></option>
            <%} %>
        </select>
    </td>
    <td>
        <select multiple id="SubmittedByNames" style="width:150px">
            <%if(submittedBy && submittedBy.length>0){%>
            <% for (var i=0; i<submittedBy.length; i++){%>
            <option onclick="document.location.href='#openSurvey/<%= SurveyNo %>/<%= submittedBy[i] %>'" value="<%= submittedBy[i] %>"><%= submittedBy[i] %> </option>
            <% }%>
            <%} else {%>
            <option disabled="disabled" value="None"><%= languageDict.attributes.None %></option>
            <%} %>

        </select>
    </td>
    <td>
        <select multiple id="surveyResponse" style="width:100px">
            <% for (var i=0; i<commResponseCount.length; i++){%>
            <option disabled="disabled"><%= commResponseCount[i][0] %>/<%= commResponseCount[i][1] %></option>
            <% }%>
            <%if(commResponseCount.length>0){%>
            <option disabled="disabled">-------</option>
            <%}%>
            <option disabled="disabled"><%= totalResponseCount %>/<%= totalReceiversCount %></option>
        </select>
    </td>
    <td>
        <a href="#surveydetail/<%= _id %>" class="btn btn-warning">
            <%= languageDict.attributes.Details %>
        </a>
        <a class='btn btn-info' onclick="App.Router.downloadCommunitySurveys('<%= SurveyNo %>', '<%= SurveyTitle %>')">
            <%= languageDict.attributes.Download %>
        </a>
        <a class='btn btn-danger destroy'>
            <%= languageDict.attributes.DeleteLabel %>
        </a>
    </td>
</script>
<script type="text/html" id="template-surveyQuestionRow">

    <td>
        <input type="radio" name="questionRow" />&nbsp;&nbsp;
        <%  if(RequireAnswer == true){%>
        <span style="font-weight:700;color:grey; font-size:16px;"><%= Statement %>*</BR></span>
        <%} else {%>
        <span style="font-weight:700;color:grey; font-size:16px;"><%= Statement %></BR></span>
        <%}%>
        <span style="font-weight:700;color:grey; font-size:16px;"></BR></span>
        <% if ( Type == "Single Textbox") { %>
        <input type="text" style="width: 625px;">
        <%} else if ( Type == "Comment/Essay Box") { %>
        <textarea style="width: 625px;"></textarea>
        <%} else if ( Type == "Multiple Choice (Single Answer)") { %>
        <table>
            <tbody>
            <% for (var i=0; i<Options.length; i++){%>
            <tr>
                <td align="center"><input type="radio" name="' + <%= Statement %><%= Options[0] %> + '"></td>
                <td><%= Options[i] %></td>
            </tr>
            <% }%>
            </tbody>
        </table>
        <%} else if ( Type == "Rating Scale") { %>
        <table>
            <tbody>
            <tr>
                <td>&nbsp;</td>
                <% for (var i=0; i<Ratings.length; i++){%>
                <td width="11%" align="center"><%= Ratings[i] %></td>
                <% }%>
            </tr>
            <% for (var i=0; i<Options.length; i++){%>
            <tr>
                <td width="10%"><%= Options[i] %></td>
                <% for (var j=0; j<Ratings.length; j++){%>
                <td  width="11%" align="center"><input type="radio" name="' + <%= Statement %><%= Options[i] %><%= Ratings[0] %> + '"></td>
                <% }%>
            </tr>
            <% }%>
            </tbody>
        </table>
        <%} %>
    </td>
    <td>
        <a class='resFeedBack btn btn-success edit_survey_question'>
            <i class='icon-eye-open icon-white'></i> <%= languageDict.attributes.EditLabel %>
        </a>
        <a class='btn btn-danger destroy'>
            <i class='icon-remove icon-white'></i> <%= languageDict.attributes.Remove %>
        </a>
    </td>

</script>

<script type="text/html" id="template-surveyAnswerRow">
    <td>
        <%  if(RequireAnswer == true){%>
        <span style="font-weight:700;color:grey; font-size:16px;"><%= Statement %>*</BR></span>
        <%} else {%>
        <span style="font-weight:700;color:grey; font-size:16px;"><%= Statement %></BR></span>
        <%}%>
        <span style="font-weight:700;color:grey; font-size:16px;"></BR></span>
        <% if ( Type == "Single Textbox") { %>
        <%  if(Answer.length > 0){%>
        <span style="font-weight:100;color:grey; font-size:14px;"><%= Answer[0] %></BR></span>
        <%}%>
        <%} else if ( Type == "Comment/Essay Box") { %>
        <%  if(Answer.length > 0){%>
        <span style="font-weight:100;color:grey; font-size:14px;"><%= Answer[0] %></BR></span>
        <%}%>
        <%} else if ( Type == "Multiple Choice (Single Answer)") { %>
        <table>
            <tbody>
            <% for (var i=0; i<Options.length; i++){%>
            <tr>
                <%  if(Answer.length > 0){%>
                <%  if(Answer[0] == Options[i]){%>
                <td align="center"><input type="radio" name="<%= Statement %><%= Options[0] %>" value="<%= Options[i] %>" checked disabled> <%= Options[i] %></td>
                <%} else {%>
                <td align="center"><input type="radio" name="<%= Statement %><%= Options[0] %>" value="<%= Options[i] %>" disabled> <%= Options[i] %></td>
                <%}%>
                <%} else {%>
                <td align="center"><input type="radio" name="<%= Statement %><%= Options[0] %>" value="<%= Options[i] %>" disabled> <%= Options[i] %></td>
                <%}%>
            </tr>
            <% }%>
            </tbody>
        </table>
        <%} else if ( Type == "Rating Scale") { %>
        <table>
            <tbody>
            <tr>
                <td>&nbsp;</td>
                <% for (var i=0; i<Ratings.length; i++){%>
                <td width="11%" align="center"><%= Ratings[i] %></td>
                <% }%>
            </tr>
            <% for (var i=0; i<Options.length; i++){%>
            <tr>
                <td width="10%"><%= Options[i] %></td>
                <% for (var j=0; j<Ratings.length; j++){%>
                <%  if(Answer.length > 0){%>
                <%  if(Answer[i] == Ratings[j]){%>
                <td  width="11%" align="center"><input type="radio" name="<%= Statement %><%= Options[i] %><%= Ratings[0] %>" value="<%= Options[i] %>,<%= Ratings[j] %>" checked disabled></td>
                <%} else {%>
                <td  width="11%" align="center"><input type="radio" name="<%= Statement %><%= Options[i] %><%= Ratings[0] %>" value="<%= Options[i] %>,<%= Ratings[j] %>" disabled></td>
                <%}%>
                <%} else {%>
                <td  width="11%" align="center"><input type="radio" name="<%= Statement %><%= Options[i] %><%= Ratings[0] %>" value="<%= Options[i] %>,<%= Ratings[j] %>" disabled></td>
                <%}%>
                <% }%>
            </tr>
            <% }%>
            </tbody>
        </table>
        <%} %>
    </td>
</script>

<script type="text/html" id="template-Dashboard">
    <div id="dashboard">
        <table class="header-table" >
            <tr class="imageRow">
                <td rowspan="2" class="imageData">
                    <!--	<img id="header-image" src="img/header_slice.png" /> -->
                    <img src="img/agnes.jpeg" width="108px" height="108px" id="imgurl" style="z-index:1; border:2px solid white;border-radius:60px;"/>
                </td>
            </tr>
            <tr>
                <td class="left">
                    <div class="bellLocation"></div>
                    <div class="name"></div>
                    <div class="visits">  </div>
                </td>
                <td class="right">
                    <div class="now" ></div>
                </td>
            </tr>
        </table>
        <table class="table">
            <tr>
                <td>
                    <table class="table table-striped" id="communities">
                        <th ><a  style="color:#345474" href="#listCommunity"><%= languageDict.attributes.Communities %> >></a></th>

                    </table>
                </td>
                <td >
                    <table class="table table-striped" id="publications">
                        <th><a  style="color:#345474" href="#publication"><%= languageDict.attributes.Publications%> >></a></th>
                    </table>
                </td>
                <td>
                    <table class="table table-striped" id="surveys">
                        <th ><a  style="color:#345474" href="#survey"><%= languageDict.attributes.Surveys %> >></a></th>

                    </table>
                </td>
                <td>
                    <table class="table table-striped" id="reports">
                        <th ><a  style="color:#345474" href="#reports"><%= languageDict.attributes.Nation_reports %> >></a></th>

                    </table>
                </td>
            </tr>
        </table>
        <div>
            <div>
                <div class="dashboard-buttons"><a href="#configuration"><button style="width: auto" class="btn-on-dashboard btn btn-primary" id="configbutton"><%= languageDict.attributes.Configurations %></button></a></div>
                <div class="dashboard-buttons"><a href="#request"><button style="width: auto" class="btn-on-dashboard btn btn-primary"><%= languageDict.attributes.Requests %></button></a></div>
                <div class ="dashboard-buttons"><a href ="#viplink"><button style="width:auto" class="btn-on-dashboard btn btn-primary"> <%= languageDict.attributes.viplinks %></button></a></div>
                <div class="dashboard-buttons"><a><button style="width: auto" class="btn-on-dashboard btn btn-primary" onclick="showDatabases()"><%= languageDict.attributes.Databases %></button></a></div>
                <div class="dashboard-buttons"><a href="../MyApp/index.html#updatewelcomevideo"><button style="width: auto" class="btn-on-dashboard btn btn-primary"><%= languageDict.attributes.Welcome_Video %></button></a></div>
            </div>
        </div>
        <!--	<table class="page-bottom-navtable">
			<tr>
			
				<td><button class="btn btn-hg btn-primary">Badges</button></td>
				<td><button class="btn btn-hg btn-primary" onclick = "document.location.href='../personal/index.html#newsfeed'">News Feed</button></td>
				<td><button class="btn btn-hg btn-primary"  onclick = "document.location.href='../personal/index.html#calendar'">Calender</button></td> 
				<td><button class="btn btn-hg btn-primary" onclick = "document.location.href='../personal/index.html#mail'">Email(<%=mails%>)</button></td>
				<td><button class="btn btn-hg btn-primary" onclick = "document.location.href='#search-bell'">Search Bell</button></td>-->
        <!-- <td></td> -->
        <!--<td><button class="btn btn-hg btn-primary1" onclick = "document.location.href='#logout'">Sign out</button></td>
    </tr>
    </table> -->
    </div>
    </div>
</script>

<script type="text/template" id="template-Configuration">
    <h5>&nbsp;&nbsp;Set Nation Language </h5>
    &nbsp;&nbsp;<select id="languageSelection">
        <option value="" selected><%= currentLanguage %></option>
        <option value="">----------------</option>
        <% for (var i=0; i<availableLanguages.length; i++){%>
        <option value="<%= availableLanguages[i] %>"><%= availableLanguages[i] %> </option>
        <% } %>
    </select>
    <% if ( type == "nation" || type == "Nation") { %>
    <br/><h5>&nbsp;&nbsp;Add Release Notes</h5>
    &nbsp;&nbsp;<input type="text" placeholder="Enter current ver sion no" id="appversion" style="width:263px;" value="<%= version %>"><br/><br/>
    &nbsp;&nbsp; <textarea id="notes" style="width:250px;height:119px;"><%= notes %></textarea><br/><br/>

    <% } %>


</script>
<script type="text/template" id="template-addCommunity">
    <div id='addNation-heading'>
        <p>
        <p class='heading'></p>
        </p>
    </div>
    <div id='nationForm-container'>

        <form id='communityFrom' autocomplete="on" id="addCommunity" onSubmit="">
            <div id='top-from' style='margin:0 auto'>
                <div class='form-field'>
                    <input placeholder="Name" type="text" id="nation-name" Required pattern="[A-Za-z][A-Za-z]*" title="Required field and don't contain numbers" name="nation-name" /><br />
                </div>
                <div class='form-field'>
                    <input placeholder="Code" type="text" id="community-code" Required pattern="[A-Za-z][A-Za-z]*" title="Required field and don't contain numbers" name="community-code" /><br />
                </div>
                <div class='form-field'>
                    <input placeholder="Url" type="text" id="nation-url" Required name="nation-url" /><br />
                </div>
            </div>
            <div style='margin-left:3%;'><p style='font-size:17px'>Sponsoring Organization</p></div>
            <div class='middle-from'>
                <div class='form-field' >
                    <input style='width:335px' placeholder="Name" type="text" Required id="org-name" name="org-name" /><br />
                </div>
                <div class='form-field' style='width:330px'>
                    <input style='width:335px;' placeholder="Address" type="text" Required id="org-sponseraddress" name="org-sponseraddress" /><br />
                </div>
                <div style='padding-left:2%;'><p style='font-size:17px'>General Manager</p></div>

                <div class='form-field'>
                    <input placeholder="First Name" type="text" id="org-firstname" Required name="org-firstname" /><br />
                </div>
                <div class='form-field'>
                    <input placeholder="Middle Name" type="text" id="org-middlename" name="org-middlename" /><br />
                </div>
                <div class='form-field'>
                    <input placeholder="Last Name" type="text" id="org-lastname" name="org-lastname" /><br />
                </div>
                <br>
                <div class='form-field' >
                    <input style='width:335px' placeholder="Phone" type="text" Required id="org-phone" name="org-phone" /><br />
                </div>
                <div class='form-field' style='width:310px'>
                    <input style='width:335px;' placeholder="Email" type="email" Required id="org-email" name="org-email" /><br />
                </div>

            </div>
            <div style='margin-left:3%'><p style='font-size:17px'>Tech Support</p></div>
            <div class='middle-from'>

                <div class='form-field'>
                    <input placeholder="First Name" type="text" Required id="leader-firstname" name="leader-firstname" /><br />
                </div>
                <div class='form-field'>
                    <input placeholder="Middle Name" type="text" id="leader-middlename" name="leader-middlename" /><br />
                </div>
                <div class='form-field'>
                    <input placeholder="Last Name" type="text" id="leader-lastname" name="leader-lastname" /><br />
                </div>
                </br>
                <div class='form-field' >
                    <input style='width:335px' placeholder="Phone M" type="text" required id="leader-phone" name="leader-phone" /><br />
                </div>
                <div class='form-field' style='width:310px'>
                    <input style='width:335px;' placeholder="Email" type="email" Required id="leader-email" name="leader-email" /><br />
                </div>
                <br>
                <div class='form-field' >
                    <input style='width:335px' placeholder="ID" type="text" Required id="leader-ID" name="leader-ID" /><br />
                </div>
                <div class='form-field' style='width:310px'>
                    <input style='width:335px;' placeholder="Password" Required type="text" id="leader-password" name="leader-password" /><br />
                </div>

            </div>
            <div style='margin-left:3%;color:#C20712'><p style='font-size:17px'>Nation Contact</p></div>
            <div id='urgent-from'>
                <div class='form-field'>
                    <input placeholder="Name" type="text" Required id="urg-name" name="urg-name" /><br />
                </div>
                <div class='form-field'>
                    <input placeholder="Url" type="text" id="urg-phone" name="urg-phone" /><br />
                </div>
            </div>
            <div style='margin-left:3%'><p style='font-size:17px'>Authorized By</p></div>
            <div id='Authorized-from' style='background-color:#eee'>
                <div class='form-field'>
                    <input placeholder="Name" type="text" id="auth-name" name="auth-name" /><br />
                </div>
                <div class='form-field'>
                    <input placeholder="Date" type="date" id="auth-date" name="auth-date" /><br />
                </div>
            </div>
            <div class="submit-button"><button class="addNation-btn btn btn-success" id="formButton">Save!</button></div>
        </form>
    </div>
</script>

<script type="text/template" id="template-communityDetails">
    <div>
        <h5><%=languageDict.attributes.community_details%></h5>
    </div>
    <span><%=languageDict.attributes.Name%>:&nbsp;</span><span style="font-weight:700;color:grey; font-size:13px;"><%= name %></span>&nbsp;&nbsp;
    <span><%=languageDict.attributes.Code%>:&nbsp;</span><span style="font-weight:700;color:grey; font-size:13px;"><%= code %></span>&nbsp;&nbsp;
    <span><%=languageDict.attributes.Region%>:&nbsp;</span><span style="font-weight:700;color:grey; font-size:13px;"><%= region %></span><br />
    <br />
    <div><span style='font-size:17px; color:black'><%=languageDict.attributes.Sponsoring_Organization%></span><br />
        <span><%=languageDict.attributes.Name%>:&nbsp;</span><span style="font-weight:700;color:grey; font-size:13px;"><%= sponsorName %></span>&nbsp;&nbsp;
        <span><%=languageDict.attributes.Address%>:&nbsp;</span></span><span style="font-weight:700;color:grey; font-size:13px;"><%= sponsorAddress %></span>&nbsp;&nbsp;
        <span><%=languageDict.attributes.Url%>:&nbsp;</span><span style="font-weight:700;color:grey; font-size:13px;"><%= sponsorUrl %></span><br />
        <br />
    </div>
    <div><span style='font-size:17px; color:black'><%=languageDict.attributes.General_Manager%></span><br />
        <span style="font-weight:700;color:grey; font-size:13px;"><%= contactFirstName %> <%= contactMiddleName %> <%= contactLastName %></span><br />
        <span style="font-weight:700;color:grey; font-size:13px;"><%= contactPhone %></span><br />
        <span style="font-weight:700;color:grey; font-size:13px;"><%= contactEmail %></span><br />
        <br />
    </div>
    <div><span style='font-size:17px; color:black'><%=languageDict.attributes.Tech_Support%></span><br />
        <span style="font-weight:700;color:grey; font-size:13px;"><%= superManagerFirstName %> <%= superManagerMiddleName %> <%= superManagerLastName %></span><br />
        <span style="font-weight:700;color:grey; font-size:13px;"><%= superManagerPhone %></span><br />
        <span style="font-weight:700;color:grey; font-size:13px;"><%= superManagerEmail %></span><br />
        <br />
    </div>
    <div><span style='font-size:17px; color:black'><%=languageDict.attributes.Nation_Contact%></span><br />
        <span><%=languageDict.attributes.Name%>:&nbsp;</span><span style="font-weight:700;color:grey; font-size:13px;"><%= nationName %></span>&nbsp;&nbsp;
        <span><%=languageDict.attributes.Url%>:&nbsp;</span></span><span style="font-weight:700;color:grey; font-size:13px;"><%= nationUrl %></span><br />
        <br />
    </div>
    <div><span style='font-size:17px; color:black'><%=languageDict.attributes.Authorized_By%></span><br />
        <span style="font-weight:700;color:grey; font-size:13px;">"<%= authName %>" </span>-
        <span style="font-weight:700;color:grey; font-size:13px;">"<%= authDate %>"</span>
    </div><br />
    <button class="btn btn-success" id="acceptRegistration"><%=languageDict.attributes.Accept%></button>&nbsp;&nbsp;<button class="btn btn-danger" id="rejectRegistration"><%=languageDict.attributes.Reject%></button>
</script>

<script type="text/html" id="template-siteReviewRownoAdmin">
    <%  if(Resolved=="0"){%>
    <td style="width:80%;"><b>Username:</b> <%=memberLogin%><br/><b>Category:</b> <%=category%><br/><b>Priority:</b> <%=urgent%><br/><b>Url:</b> <%=PageUrl%> <br/><b>Time:</b> <%=time%> <br/><u><b>Comment</b></u><br/><%=comment%></td><td style="text-align:center;">Not resolved<button class="btn btn-primary" id="commentButton" value=<%=_id%>>Comment</button></td>
    <%}
    else {%>
    <td style="width:80%;"><b>Username:</b> <%=memberLogin%><br/><b>Category:</b> <%=category%><br/><b>Priority:</b> <%=urgent%><br/><b>Url:</b> <%=PageUrl%> <br/><b>Time:</b> <%=time%> <br/><u><b>Comment</b></u><br/><%=comment%></td><td style="text-align:center;">Resolved<button class="btn btn-primary" id="commentButton" value=<%=_id%>>Comment</button></td>
    <%}%>
</script>


<script type="text/html" id="template-siteReviewRowAdmin">
    <%  if(Resolved=="0"){%>
    <td style="width:80%;"><b>Username:</b> <%=memberLogin%><br/><b>Category:</b> <%=category%><br/><b>Priority:</b> <%=urgent%><br/><b>Url:</b> <%=PageUrl%> <br/><b>Time:</b> <%=time%> <br/><u><b>Comment</b></u><br/><%=comment%></td><td style="text-align:center;"><a class="btn btn-info" modl='+model+' id="resolveButton">Resolve</a><button class="btn btn-primary" id="commentButton" value=<%=_id%>>Comment</button></td>
    <%}
    else {%>
    <td style="width:80%;"><b>Username:</b> <%=memberLogin%><br/><b>Category:</b> <%=category%><br/><b>Priority:</b> <%=urgent%><br/><b>Url:</b> <%=PageUrl%> <br/><b>Time:</b> <%=time%> <br/><u><b>Comment</b></u><br/><%=comment%></td><td style="text-align:center;">Resolved<button class="btn btn-primary" id="commentButton" value=<%=_id%>>Comment</button></td>
    <%}%>
</script>
<!-- Report template -->
<script type="text/html" id="template-ReportRow">
    <td>
        <span style="font-weight:900; font-size:16px;"><%= Date %></BR></span>
    </td>

    <% if(title){ %>  // Added A View In the Resources Db with Id _Design/Bell had to place title with Null else it gives me ReferenceError

    <td>
        <span style="font-weight:900; font-size:16px;"><%= title %></BR></span>
    </td>

    <td>
        <span style="font-weight:900; font-size:16px;"><%= author %></BR></span>
    </td>
    </td>

    <td>
        <%=views%>
    </td>
    <td>

        <a id="open" class='btn btn-success' value='<%= _id %>' href='/apps/_design/bell/bell-resource-router/index.html#openreport/nation/<%= _id %>//<%= title %>' target="_blank">
            <%= languageDict.attributes.Open %>
        </a>
    </td>

    <td>
        <button  id="commentButton" class="btn btn-primary" value="<%= _id %>"> <%= languageDict.attributes.Comment %></button>
    </td>

    <td>
        <%if(isManager>-1){%>
    <td>
        <a href="#reports/edit/<%= _id %>" class="btn btn-warning">
            <%= languageDict.attributes.Details %>
        </a>
    </td>
    <td>
        <a class='btn btn-danger destroy'>
            <%= languageDict.attributes.DeleteLabel %>
        </a>
    </td>
    <%}%>
    </td>
    <%}%>
</script>


<script type="text/html" id="template-PublicationRow">
    <td>
        <span style="font-weight:900; font-size:16px;"><%= Date %></BR></span>
    </td>
    <td>
        <span style="font-weight:900; font-size:16px;"><%= IssueNo %></BR></span>
    </td>
    <td>
        <span ><p style="font-weight:900; font-size:16px;word-wrap:break-word; width:150px "><%= editorName %></p></BR></span>
    </td>
    <td>
        <span ><p style="font-weight:900; font-size:16px;word-wrap:break-word; width:150px "><%= editorEmail %></p></BR></span>
    </td>
    <td>
        <span ><p style="font-weight:900; font-size:16px;word-wrap:break-word; width:150px "><%= editorPhone %></p></BR></span>
    </td>
    <td>
        <select multiple id="commNames" style="width:200px">
            <%if(communityNames && communityNames.length>0){%>
            <% for (var i=0; i<communityNames.length; i++){%>
            <option disabled="disabled" value="<%= communityNames[i] %>"><%= communityNames[i] %> </option>
            <% }%>
            <%} else {%>
            <option disabled="disabled" value="None"><%= languageDict.attributes.None%></option>
            <%} %>

        </select>
    </td>
    <td>
        <select multiple id="DownloadedByNames" style="width:200px">
            <%if(downloadedByCommunities && downloadedByCommunities.length>0){%>
            <% for (var i=0; i<downloadedByCommunities.length; i++){%>
            <option disabled="disabled" value="<%= downloadedByCommunities[i] %>"><%= downloadedByCommunities[i] %> </option>
            <% }%>
            <%} else {%>
            <option disabled="disabled" value="None"><%= languageDict.attributes.None%></option>
            <%} %>

        </select>
    </td>
    <td>
        <a href="#publicationdetail/<%= _id %>" class="btn btn-warning">
            <%= languageDict.attributes.Details%>
        </a>
    </td>
    <td>
        <a class='btn btn-danger destroy'>
            <%= languageDict.attributes.DeleteLabel%>
        </a>
    </td>
</script>



<script type="text/html" id="template-ResourceRow">


    <td>
        <span style="font-weight:700;color:grey; font-size:16px;"><%= title %></BR></span>
    </td>
    <td>
        <a class='resFeedBack btn btn-success' href='/apps/_design/bell/bell-resource-router/index.html#open/<%= _id %>/<%= title %>' target="_blank">
            <i class='icon-eye-open icon-white'></i> Open
        </a>
        <a class='btn btn-danger destroy'>
            <i class='icon-remove icon-white'></i> Remove
        </a>
    </td>

</script>

<!-- Requests template -->
<script type="text/html" id="template-RequestRow">

    <td>
        <%=sendFromName%>
    </td>
    <td>
        <%=type%>
    </td>
    <td>
        <%= request %></BR>
    </td>

    <td>
        <%= login %></BR>
    </td>
    <td>
        <%= date %></BR>
    </td>
    <%if(status=="0"){%>
    <td>
        <a href="#" class="btn btn-warning">
            Response
        </a>
    </td>
    <%}%>
    <%if(status=="1"){%>
    <td>
        Responded
    </td>
    <%}%>
</script>
<script type="text/template" id="template-form-file">
    <table class="table table-striped">
        <tr>
            <td colspan="2">

                <h2>
                    <%= header %>
                </h2>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="fields">
                <!-- The first form that will be submitted without the file -->
                <%= form %>
            </td>
        </tr>
        <tr>
        <tr>
            <td>
                <div class="save btn btn-success" name="save">
                    <%= languageDict.attributes.Save %>
                </div>
                <a class="btn btn-danger" id="cancel"><%= languageDict.attributes.Cancel %></a>
            </td>
            <td class="status">
                <!-- status goes here -->
            </td>
        </tr>
    </table>
</script>

<!-- End Of templates -->

</head>


<body>

</body>
<script>
    $(document).ready(function() {
        App.start();
    })
</script>
</html>
